﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4>Chitcare Demo</h4>
        </div>

        <div class="col-md-6">
            <h5 class="text-sm-right">SMS Status : <span class="text-success">Active</span></h5>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="colour-box"></span>PERSON / CONTACT INFORMATION
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Enter Branch Name">
                                        <select id="ddlBranch" class="form-control seelect-control">
                                            <option>-- Select --</option>
                                            <option value="1">Maddur</option>
                                            <option value="2">Nizamabad</option>
                                        </select>
                                        <label for="Group">Branch Name</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtUserCode" class="form-control" type="text" placeholder="Enter User Code">
                                        <label for="Group">User Code</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtPassword" class="form-control" type="password" placeholder="Enter Password">
                                        <label for="Group">Password</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtconpassword" class="form-control" type="password" placeholder="Confirm Password">
                                        <label for="Group">Confirm Password</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <div class="row">
                                            <div class="col-xs-3 pr-0">
                                                <select id="ddlPrHonor" class="form-control" on>
                                                    <option value="1" selected="selected">Mr.</option>
                                                    <option value="2">Mrs.</option>
                                                    <option value="3">Miss.</option>
                                                    <option value="4">Dr.</option>
                                                    <option value="5">M/s.</option>
                                                    <option value="6">Mnr.</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-9 pl-0">
                                                <input id="txtPrFName" class="form-control" type="text" placeholder="Name">
                                                <label for="Group">Name</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <div class="row">
                                            <div class="col-xs-3 pr-0">
                                                <select class="form-control">
                                                    <option>S/O.</option>
                                                    <option>D/O.</option>
                                                    <option>W/O.</option>
                                                    <option>C/O.</option>
                                                    <option>M/S.</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-9 pl-0">
                                                <input id="ddlSdo" class="form-control" type="text" placeholder="S/o, D/o">
                                                <label for="Group">S/o,D/o</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row" id="divRep" hidden="hidden">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtIntroFn" class="form-control" type="text" placeholder="Rep by First Name">
                                        <label for="Group">Rep by First Name</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <div class="form-group has-float-label">
                                            <input id="txtIntroLn" class="form-control" type="text" placeholder="Sur Name">
                                            <label for="Group">Sur Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="divGuardian" hidden="hidden">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtGuardName" class="form-control" type="text" placeholder="Guardian Name">
                                        <label for="Group">Guardian Name</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <div class="form-group has-float-label">
                                            <input id="txtGuarRelation" class="form-control" type="text" placeholder="Relation">
                                            <label for="Group">Relation</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bg-grey">
                                        <span>Gender :</span>
                                        <label class="pl-10">
                                            <input class="radio" type="radio" name="gender" id="rbMale">
                                            <span>Male</span>
                                        </label>
                                        <label class="pl-10">
                                            <input class="radio" type="radio" name="gender" id="rbFemale">
                                            <span>Female</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <div class="row">
                                            <div class="col-xs-3 pr-0">
                                                <select id="ddlPrOcc" class="form-control">

                                                    <option value="1" selected="selected">Employee</option>
                                                    <option value="2">Business</option>
                                                    <option value="3">Other</option>
                                                    <option value="4">House Wife</option>
                                                    <option value="5">Retd. Off.</option>
                                                    <option value="6">Farmer</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-9 pl-0">
                                                <input id="txtPrOcc" class="form-control" type="text" placeholder="Enter Occupation">
                                                <label for="Group">Occupation</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtPrDOB" class="form-control" type="date" placeholder="Enter Date of Birth" onchange="calAge();">
                                        <label for="Group">Date of Birth</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtPrAge" class="form-control" type="text" placeholder="Enter Age">
                                        <label for="Group">Age</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtPrEntryDate" class="form-control" type="date" placeholder="Enter Date">
                                        <label for="Group">Entry Date</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtInc" class="form-control" type="text" placeholder="Enter Income">
                                        <label for="Group">Income</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtAdrCrdNo" class="form-control" type="text" placeholder="Enter Aadhar Card No">
                                        <label for="Group">Aadhar Card No</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtITpan1" class="form-control" type="text" placeholder="Enter PAN Number">
                                        <label for="Group">PAN</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtGSTNO" name="" class="form-control" type="text" placeholder="Enter GST NO.">
                                        <label for="Group">GST NO.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtMobile" class="form-control" type="text" placeholder="Mobile Number">
                                        <label for="Group">Mobile</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-float-label">
                                        <input id="txtEmail" class="form-control" type="email" placeholder="Email Id" required>
                                        <label for="Group">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divAgentType" hidden="hidden">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Enter Branch Name">
                                        <select id="ddlAgentType" class="form-control seelect-control">
                                            <option value="0">Main</option>
                                            <option value="1">Sub-Agent</option>

                                        </select>

                                        <label for="Group">Agent Type</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-6" id="divMainAgent" hidden="hidden">
                                    <div class="form-group has-float-label">
                                        <input id="txtMainAgnt" class="form-control" type="text" placeholder="Main Agent">
                                        <label for="Group">Main Agent</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-2">

                            <div>
                                <div class="photo">
                                    <label for="photo_upload">
                                        <img id="imgPhoto" src="~/dist/images/uploadphoto.png" class="img-responsive upload-photo">
                                    </label>
                                    <input type="file" id="photo_upload" onchange="readURLPhoto(this)">
                                </div>
                                <div class="signiture">
                                    <label for="sign_upload">
                                        <img id="imgSign" src="~/dist/images/uploadsign.png" class="img-responsive upload-sign">
                                    </label>
                                    <input type="file" id="sign_upload" onchange="readURLSign(this)">
                                </div>
                            </div>

                            <div class="form-group bg-grey label-full-width">
                                <span>Introduced As :</span>
                                <label>
                                    <input id="ChkAll" type="checkbox" placeholder="Introduced As">
                                    <span>All</span>
                                </label>
                                <label>
                                    <input id="chkMember" class="checkbox" type="checkbox" placeholder="Introduced As" checked="checked" group="Chk">
                                    <span>Member</span>
                                </label>
                                <label>
                                    <input id="chkAgent" class="checkbox" type="checkbox" placeholder="Introduced As" group="Chk">
                                    <span>Agent</span>
                                </label>
                                <label>
                                    <input id="chkGuarantor" class="checkbox" type="checkbox" placeholder="Introduced As" group="Chk">
                                    <span>Guarantor</span>
                                </label>
                                <label>
                                    <input id="chkStaff" class="checkbox" type="checkbox" placeholder="Introduced As" group="Chk">
                                    <span>Staff</span>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="colour-box"></span>  RESIDENCIAL ADDRESS
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group has-float-label">
                                    <input id="txtResAddress" class="form-control" type="text" placeholder="Enter Res. Door No.">
                                    <label for="Group">Res.Door No.</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtResAddress1" class="form-control" type="text" placeholder="Enter Res. Street Name">
                                    <label for="Group">Res.Street Name</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtResAddress2" class="form-control" type="text" placeholder="Enter Res. Address">
                                    <label for="Group">Res. Address</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtRCity" class="form-control" type="text" placeholder="Enter City">
                                    <label for="Group">City</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtRDistrict" class="form-control" type="text" placeholder="Enter District">
                                    <label for="Group">District</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtRState" class="form-control" type="text" placeholder="Enter State">
                                    <label for="Group">State </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtRCountry" class="form-control" type="text" placeholder="Enter Country">
                                    <label for="Group">Country </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtRPincode" class="form-control" type="text" placeholder="Enter PinCode">
                                    <label for="Group">PinCode </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtRPhone" class="form-control" type="text" placeholder="Enter Phone">
                                    <label for="Group">Phone </label>
                                </div>
                                @*<div class="form-group has-float-label">
                                    <input id="txtRMobile" class="form-control" type="text" placeholder="Enter Mobile">
                                    <label for="Group">Mobile </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtREmail" class="form-control" type="Email" placeholder="Enter Email-Id">
                                    <label for="Group">Email-Id </label>
                                </div>*@

                            </form>
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="colour-box"></span>   OFFICE ADDRESS
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group has-float-label">
                                    <input id="txtOffAddress" class="form-control" type="text" placeholder="Enter Off. Door No.">
                                    <label for="Group">Off. Door No.</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOffAddress1" class="form-control" type="text" placeholder="Enter Street Name">
                                    <label for="Group">Street Name</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOffAddress2" class="form-control" type="text" placeholder="Enter Off. Address">
                                    <label for="Group">Off. Address</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOCity" class="form-control" type="text" placeholder="Enter City">
                                    <label for="Group">City</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtODistrict" class="form-control" type="text" placeholder="Enter District">
                                    <label for="Group">District</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOState" class="form-control" type="text" placeholder="Enter State">
                                    <label for="Group">State </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOCountry" class="form-control" type="text" placeholder="Enter Country">
                                    <label for="Group">Country </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOPincode" class="form-control" type="text" placeholder="Enter PinCode">
                                    <label for="Group">PinCode </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOPhone1" class="form-control" type="text" placeholder="Enter Phone">
                                    <label for="Group">Phone1 </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOPhone2" class="form-control" type="text" placeholder="Enter Mobile">
                                    <label for="Group">Phone2 </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtOFax" class="form-control" type="text" placeholder="Enter Fax">
                                    <label for="Group">Fax </label>
                                </div>

                            </form>
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="colour-box"></span> CORRESPONDING ADDRESS
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group has-float-label">
                                    <input id="txtNatAddress" class="form-control" type="text" placeholder="Enter Nat. Door No.">
                                    <label for="Group">Nat. Door No.</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNatAddress1" class="form-control" type="text" placeholder="Enter Street Name">
                                    <label for="Group">Street Name</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNatAddress2" class="form-control" type="text" placeholder="Enter Address">
                                    <label for="Group">Address</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNCity" class="form-control" type="text" placeholder="Enter City">
                                    <label for="Group">City</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNDistrict" class="form-control" type="text" placeholder="Enter District">
                                    <label for="Group">District</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNState" class="form-control" type="text" placeholder="Enter State">
                                    <label for="Group">State </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNCountry" class="form-control" type="text" placeholder="Enter Country">
                                    <label for="Group">Country </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNPincode" class="form-control" type="text" placeholder="Enter PinCode">
                                    <label for="Group">PinCode </label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNPhone1" class="form-control" type="text" placeholder="Enter Phone">
                                    <label for="Group">Phone1</label>
                                </div>
                                <div class="form-group has-float-label">
                                    <input id="txtNPhone2" class="form-control" type="text" placeholder="Enter Mobile">
                                    <label for="Group">Phone2 </label>
                                </div>

                            </form>
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group mb-0">
                        <input type="checkbox" id="chkFillOAddr">
                        <label class="label-control mr-10" for="one">Fill Res Addr as Office Address</label>
                        <input class="chkAdd" type="checkbox" id="chkFillCAddr">
                        <label class="label-control mr-10" for="two">Fill Res Addr as Corresponding Address</label>
                        <input class="chkAdd" type="checkbox" id="chkFillCAddrfrmoffaddr">
                        <label class="label-control mr-10" for="three">Fill Off Addr as Corresponding Address</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EMPLOYEMENT DETAILS Row -->
    <div class="row" id="divEmpDetails">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="colour-box"></span>EMPLOYEMENT DETAILS
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtCmpName" class="form-control" type="text" placeholder="Organization">
                                <label for="Group">Organization</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtDesg" class="form-control" type="text" placeholder="Designation">
                                <label for="Group">Designation</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtDept" class="form-control" type="text" placeholder="Department">
                                <label for="Group">Department</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtPFNo" class="form-control" type="text" placeholder="Employee ID">
                                <label for="Group">Employee ID</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtDOJ" class="form-control" type="Date" placeholder="Date of Joining">
                                <label for="Group">Date of Joining</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtRetireDate" class="form-control" type="date" placeholder="Retirement">
                                <label for="Group">Retirement</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtBasicSal" class="form-control" type="number" placeholder="Basic Salary" value="0" onchange="NetSal()">
                                <label for="Group">Basic Salary</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtHRA" class="form-control" type="number" value="0" placeholder="H.R.A" onchange="NetSal()">
                                <label for="Group">H.R.A</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtPDA" class="form-control" type="number" value="0" placeholder="D.A" onchange="NetSal()">
                                <label for="Group">D.A</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtOtherSal" class="form-control" type="number" value="0" placeholder="Others" onchange="NetSal()">
                                <label for="Group">Others</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtDeductions" class="form-control" type="number" value="0" placeholder="Deductions" onchange="NetSal()">
                                <label for="Group">Deductions</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtNetSal" class="form-control" type="number" value="0" placeholder="Net Salary">
                                <label for="Group">Net Salary</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtTan" class="form-control" type="text" placeholder="TAN">
                                <label for="Group">TAN</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Row End -->
    <!-- BUSINESS Row -->
    <div class="row" id="divBussiness" hidden="hidden">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="colour-box"></span>BUSINESS
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtFirmName" class="form-control" type="text" placeholder="Firm Name">
                                <label for="Group">Firm Name</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtNature" class="form-control" type="text" placeholder="Nature">
                                <label for="Group">Nature</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtCapital" class="form-control" type="number" placeholder="Capital">
                                <label for="Group">Capital</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group has-float-label">
                                <input id="txtIncome" class="form-control" type="number" placeholder="Income">
                                <label for="Group">Income</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Row End -->


    <div class="row mb-20">
        <div class="col-lg-12 text-center">
            <button class="btn btn-custom1" type="submit" id="btnSubmit">Save</button>
            <button class="btn btn-custom1">Go to List</button>
            <button class="btn btn-secondary">Cancel</button>
        </div>
    </div>





</div>