﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/KendoPlugins/jquery.min.js"></script>
<script src="~/KendoPlugins/kendo.all.min.js"></script>

<link href="//cdn.kendostatic.com/2013.1.319/styles/kendo.common.min.css" rel="stylesheet" />
<link href="//cdn.kendostatic.com/2013.1.319/styles/kendo.default.min.css" rel="stylesheet" /> 

<div class="demo">
    <p>
        <label>Please Select Places</label>&nbsp;&nbsp;
        <input type="radio"
               name="radPlaces"
               id="Country"
               value="Country"
               checked="checked" onclick="isCheck()" />
        <label for="sizeSmall">Country</label>
        <input type="radio"
               name="radPlaces"
               id="State"
               value="State" onclick="isCheck()" />
        <label for="sizeMed">State</label>
        <input type="radio"
               name="radPlaces"
               id="District"
               value="District" onclick="isCheck()" />
        <label for="sizeLarge">District</label>
        <input type="radio"
               name="radPlaces"
               id="Cities"
               value="Cities" onclick="isCheck()"/>
        <label for="sizeLarge">Cities</label>
    </p>       
    <br />
    <br />

    <h2>Contries List</h2>
    <br />
    <br />
    <div id="Countrygrid"></div>
   
    <div id="Statesgrid"></div>
    
    <div id="Citiesgrid"></div>

    <div id="Districtgrid"></div>
    <script type="text/javascript">
        $(function () {
            $("#Countrygrid").show();
            $("#Statesgrid").hide();
            $("#Citiesgrid").hide();
            $("#Districtgrid").hide();
        });
        function isCheck()
        {
            if ($("#Country").prop("checked")) {
                $("#Countrygrid").show();
                $("#Statesgrid").hide();
                $("#Citiesgrid").hide();
                $("#Districtgrid").hide();
            }
            if ($("#State").prop("checked")) {
                $("#Countrygrid").hide();
                $("#Statesgrid").show();
                $("#Citiesgrid").hide();
                $("#Districtgrid").hide();
            }
            if ($("#District").prop("checked")) {
                $("#Countrygrid").hide();
                $("#Statesgrid").hide();
                $("#Citiesgrid").hide();
                $("#Districtgrid").show();
            }
            if ($("#Cities").prop("checked")) {
                $("#Countrygrid").hide();
                $("#Statesgrid").hide();
                $("#Citiesgrid").show();
                $("#Districtgrid").hide();
            }
        }
    </script>
    <script>

        $(document).ready(function () {
            var crudServiceBaseUrl = "/Places",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetCountries",
                            dataType: "json",

                        },
                        update: {
                            url: crudServiceBaseUrl + "/CountryUpdate",
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                        },
                        destroy: {
                            type: 'POST',
                            url: crudServiceBaseUrl + "/CountryDestroy",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                        },
                        create: {
                            url: crudServiceBaseUrl + "/CountryCreate",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            type: "POST"
                        },
                        parameterMap: function (options, operation) {
                            debugger
                            if (operation !== "read") {
                                debugger
                                return JSON.stringify({ /*model:*/ options });

                            }
                        }
                    },
                    pageSize: 5,
                    schema: {

                        model: {

                            id: "CountryId",
                            fields: {
                                countryName: { type: "string", validation: { required: true } },
                               
                            }
                        }
                    }
                });

            $("#Countrygrid").kendoGrid({
                dataSource: dataSource,
                groupable: false,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                height: 350,
                width: 50,
                toolbar: [{ name: 'create', text: "Create New Country" }],
                columns: [
                    { field: "countryName", title: "Country Name", width: "250px" },
                   
                    {
                        command: [{
                            name: "edit",
                            text: { edit: "Edit", cancel: "Cancel", update: "Save"}
                        }, { name: "destroy", text: "Delete" }]
                    }
                ],
                editable: {
                    mode: "inline",
                   
                    
                },
               
            });
        });

    </script>
    <script id="custom_editor" type="text/x-kendo-template">
        <div>
            <label> some label </label>
        </div>
        <div>
            <input type="text" name="Name" />
        </div>
    </script>
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/Places",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetStates",
                            dataType: "json",

                        },
                        update: {
                            url: crudServiceBaseUrl + "/StateUpdate",
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                        },
                        destroy: {
                            type: 'POST',
                            url: crudServiceBaseUrl + "/StateDestroy",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                        },
                        create: {
                            url: crudServiceBaseUrl + "/StateCreate",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            type: "POST"
                        },
                        parameterMap: function (options, operation) {
                            debugger
                            if (operation !== "read") {
                                debugger
                                return JSON.stringify({ /*model:*/ options });

                            }
                        }
                    },
                    pageSize: 5,
                    schema: {

                        model: {

                            id: "StateId",
                            fields: {
                                StateName: { type: "string", validation: { required: true } },
                               

                            }
                        }
                    }
                });

            $("#Statesgrid").kendoGrid({
                dataSource: dataSource,
                groupable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                height: 350,
                width: 50,
                toolbar: ["create"],
                columns: [
                    { field: "StateName", title: "State Name", width: "120px" },

                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                ],
                editable: "popup",
                edit: function (e) {
                    if (e.model.isNew()) {
                        $("td:nth-child(2)").css("display", "none");
                    }
                }
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/Places",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetCities",
                            dataType: "json",

                        },
                        update: {
                            url: crudServiceBaseUrl + "/CityUpdate",
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                        },
                        destroy: {
                            type: 'POST',
                            url: crudServiceBaseUrl + "/CityDestroy",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                        },
                        create: {
                            url: crudServiceBaseUrl + "/CityCreate",
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            type: "POST"
                        },
                        parameterMap: function (options, operation) {
                            debugger
                            if (operation !== "read") {
                                debugger
                                return JSON.stringify({ /*model:*/ options });

                            }
                        }
                    },
                    pageSize: 5,
                    schema: {

                        model: {

                            id: "CityId",
                            fields: {
                                CityName: { type: "string", validation: { required: true } },


                            }
                        }
                    }
                });

            $("#Citiesgrid").kendoGrid({
                dataSource: dataSource,
                groupable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                height: 350,
                width: 50,
                toolbar: ["create"],
                columns: [
                    { field: "CityName", title: "City Name", width: "120px" },

                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                ],
                editable: "popup",
                edit: function (e) {
                    if (e.model.isNew()) {
                        $("td:nth-child(2)").css("display", "none");
                    }
                }
            });
        });

    </script>

    <script>
         $(document).ready(function () {
             var crudServiceBaseUrl = "/Places",
                 dataSource = new kendo.data.DataSource({
                     transport: {
                         read: {
                             url: crudServiceBaseUrl + "/GetDistrict",
                             dataType: "json",

                         },
                         update: {
                             url: crudServiceBaseUrl + "/DistrictUpdate",
                             type: 'POST',
                             dataType: 'json',
                             contentType: 'application/json; charset=utf-8',
                         },
                         destroy: {
                             type: 'POST',
                             url: crudServiceBaseUrl + "/DistrictDestroy",
                             dataType: 'json',
                             contentType: 'application/json; charset=utf-8',
                         },
                         create: {
                             url: crudServiceBaseUrl + "/DistrictCreate",
                             dataType: 'json',
                             contentType: 'application/json; charset=utf-8',
                             type: "POST"
                         },
                         parameterMap: function (options, operation) {
                             debugger
                             if (operation !== "read") {
                                 debugger
                                 return JSON.stringify({ /*model:*/ options });

                             }
                         }
                     },
                     pageSize: 5,
                     schema: {

                         model: {

                             id: "DistId",
                             fields: {
                                 DistName: { type: "string", validation: { required: true } },


                             }
                         }
                     }
                 });

             $("#Districtgrid").kendoGrid({
                 dataSource: dataSource,
                 groupable: true,
                 sortable: true,
                 filterable: true,
                 pageable: {
                     refresh: true,
                     pageSizes: true,
                     buttonCount: 5
                 },
                 height: 350,
                 width: 50,
                 toolbar: ["create"],
                 columns: [
                     { field: "DistName", title: "District Name", width: "120px" },

                     { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                 ],
                 editable: "popup",
                 edit: function (e) {
                     if (e.model.isNew()) {
                         $("td:nth-child(2)").css("display", "none");
                     }
                 }
             });
         });

    </script>


</div>

