﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">CHIT CARE</h2>
@using (Html.BeginForm())
{

    <table align="center" border="1">
        <tr>
            <td colspan="2" align="center">
                Login
            </td>
        </tr>
        <tr>
            <td>
                User Name :
            </td>
            <td>
              @Html.TextBox("userCode")
            </td>
        </tr>
        <tr>
            <td>
                Password :
            </td>
            <td>
               @Html.Password("password")
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" id="btnLogin" name="btnLogin" value="Login" />
            </td>
        </tr>
    </table>
}