﻿@using ChitCare.UI.ViewModels.Models;
@model IEnumerable<ChitCare.UI.ViewModels.Models.MenuViewModel>


<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
        </div>
        <a class="navbar-brand" href="index.html">Chitcare</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links hidden-xs navbar-left">
        <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-top-links nav-center">
        <li class="dropdown" style="text-align:center">

            <h4>Chitcare Demo</h4>

        </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">

        <li class="dropdown">
            <a href="#">
                FY : <span>01/04/2017-31/03/2018</span>
            </a>
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a href="#">
                IST : <span>@DateTime.Now.Date</span>
            </a>
        </li>
        <!-- /.dropdown -->

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> Mr. Essel</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="index.html" class="menu-item"><i class="fa fa-home"></i> <span>Home</span></a>
                </li>
                <li>
                    <a href="#" class="menu-item"><i class="fa fa-heart-o"></i> <span>Favorites</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level nav-second-level-sm collapse">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav collapse mobile-3rd-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                @{

                    var modules = Model.Where(moduleid => moduleid.moduleId == 0).ToList();
                    foreach (var mainmodule in modules)
                    {
                        <li>
                            @*<a href="#" class="menu-item"><i class="fa fa-user"></i> <span>@mainmodule.moduleName</span><span class="fa arrow"></span></a>*@
                            <a href="#" class="menu-item"><i class="fa fa-user"></i><span>@mainmodule.moduleName</span><span class="fa arrow"></span></a>
                            @{
                                var subModules = Model.Where(moduleid => moduleid.moduleId == mainmodule.subModuleId)
                                      .GroupBy(sModule => sModule.subModuleId)
                                      .Select(grp => grp.ToList()).ToList();
                            }
                            <ul class="nav nav-second-level collapse">


                                @{
                                    for (int k = 0; k < subModules.Count(); k++)
                                    {
                                        <li>
                                            <a href="#">@subModules[k][0].subModuleName<span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level collapse">
                                                @{
                                                    var subMenu = subModules[k].ToList();
                                                }
                                                <li>
                                                    <span class="entry"><span class="head">Entry</span></span>
                                                    <span class="list"><span class="head">List</span></span>
                                                </li>
                                                @{

                                                    foreach (var screens in subMenu)
                                                    {


                                                        <li>
                                                            <span class="entry">
                                                                <a href="~/@screens.addUrl" data-toggle="tooltip" title="@screens.screenName">@screens.screenName</a>
                                                            </span>




                                                            <span class="list"><a href="~/@screens.ViewUrl"><i class="fa fa-list-alt" aria-hidden="true"></i></a></span>
                                                        </li>


                                                    }
                                                }




                                            </ul>

                                        </li>


                                    }


                                }

                            </ul>

                        </li>


                    }
                }

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
