.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    /* background-color: #222d32; */
    background: #299bf3;
    background: -moz-linear-gradient(top, #299bf3 0%, #30c2d1 100%);
    background: -webkit-linear-gradient(top, #299bf3 0%,#30c2d1 100%);
    background: linear-gradient(to bottom, #a91e1e 0%,#cc7777 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=0 );
}
.skin-blue .main-header .navbar {
    background: #299bf3;
    background: -moz-linear-gradient(left, #299bf3 0%, #30c2d1 100%);
    background: -webkit-linear-gradient(left, #299bf3 0%,#30c2d1 100%);
    background: linear-gradient(to bottom, #a91e1e 0%,#cc7777 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=1 );
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #a02c2c;
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: rgba(255, 174, 174, 0.74);
}

.treeview-menu>li {
    margin: 0;
    display: -webkit-box;
    color: #ec9292;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #f7b2b2;
}

.skin-blue .sidebar a {
    color: #f7b2b2;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    /* background: #1e282c; */
    border-top: 1px #ec9191 solid;
}

.skin-blue .sidebar-menu>li.header {
    color: #ec9292;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #ca7070;
    border: 1px solid transparent;
    height: 35px;
}

.skin-blue .main-header li.user-header {
    background-color: #b25d5d;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #299bf3;
    background: -moz-linear-gradient(left, #299bf3 0%, #30c2d1 100%);
    background: -webkit-linear-gradient(left, #299bf3 0%,#30c2d1 100%);
    background: linear-gradient(to right, #a91e1e 0%,#cc7777 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=1 );
}
.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #eb8e8e;
    margin: 10px 10px;
}