background: linear-gradient(to right, #605ca8 0%,#4c81c3 100%);

background: linear-gradient(to bottom, #605ca8 0%,#4c81c3 100%);



.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    /* background-color: #222d32; */
    background: #299bf3;
    background: -moz-linear-gradient(top, #299bf3 0%, #30c2d1 100%);
    background: -webkit-linear-gradient(top, #299bf3 0%,#30c2d1 100%);
    background: linear-gradient(to bottom, #605ca8 0%,#4c81c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=0 ) !important;
}
.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #4f7abe;
    margin: 10px 10px;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #299bf3;
    background: -moz-linear-gradient(left, #299bf3 0%, #30c2d1 100%);
    background: -webkit-linear-gradient(left, #299bf3 0%,#30c2d1 100%);
    background: linear-gradient(to right, #605ca8 0%,#4c81c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=1 );
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #b4b6ef;
    border: 1px solid transparent;
    height: 35px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #222d32;
    background: #299bf3;
    background: -moz-linear-gradient(top, #299bf3 0%, #30c2d1 100%);
    background: -webkit-linear-gradient(top, #299bf3 0%,#30c2d1 100%);
    background: linear-gradient(to bottom, #4c81c3 0%,#605ca8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=0 );
}

.skin-blue .main-header .navbar {
    background: #299bf3;
    background: -moz-linear-gradient(left, #299bf3 0%, #30c2d1 100%);
    background: linear-gradient(to right, #605ca8 0%,#4c81c3 100%);
    background: linear-gradient(to right, #605ca8 0%,#4c81c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299bf3', endColorstr='#30c2d1',GradientType=1 );
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #405196;
}

.treeview-menu>li {
    margin: 0;
    display: -webkit-box;
    color: #a5b5e6;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #7da1e2;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    /* background: #1e282c; */
    border-top: 1px #8090e4 solid;
}
