﻿
@{
    ViewBag.Title = "ChitGroupList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style type="text/css">
    table {
        background-color: #DED3B5;
        border-width: 0px;
        border-style: None;
        width: 100%;
    }

    tr {
        background-color: #D5D5FF;
        font-weight: bold;
    }

    td {
        font-size: 12px !important;
        line-height: 1.4em !important;
        font-family: arial, verdana, geneva, sans-serif !important;    }

    tbody tr {
        background-color: #ffffff;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
    }
</style>*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>

        var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http, $filter)
    {
          
          //  $scope.Branch = $scope.names[0];
            $scope.IsVisible = false;
            $scope.IsVisible1 = false;
            $scope.daterange = [
                { "value": 0, "label": "All" },
                { "value": 1, "label": "Today" },
                { "value": 2, "label": "Current Week" },
                { "value": 3, "label": "Current Month " },
                { "value": 4, "label": "Current Quarter" },
                { "value": 5, "label": "Current Year " },
                { "value": 6, "label": "Date To Date" },
                { "value": 7, "label": "yesterday" },
                { "value": 8, "label": "Previous Month" },
                { "value": 9, "label": "Previous Year" }
            ];
            $scope.fromdate = new Date();
            $scope.todate = new Date();
            $scope.date = $scope.daterange[5];

            $scope.pagesize = [
                { "value": 0, "label": 25 },
                { "value": 1, "label": 50 },
                { "value": 2, "label": 100 },
            ];

            $scope.size = $scope.pagesize[0];
            $scope.onloadFun = function ()
            {
                $http.get('/Common/GetBranches').then(function (branchesResponse) {

                    $scope.ddlBranch = {};

                    $scope.ddlBranch.Brancesddl = branchesResponse.data;

                    $scope.ddlBranch.BranchId = $scope.ddlBranch.Brancesddl[0].BranchId;

                })
                $scope.List = function () {
                    var Branch = $scope.ddlBranch.BranchId;
                    var GroupName = $scope.GroupName;
                    var ChitSeries = $scope.ChitSeries;
                    var FromDate = $filter('date')($scope.fromdate, "yyyy-MM-dd")
                    var ToDate = $filter('date')($scope.todate, "yyyy-MM-dd")


                    //            $http.get("/Groups/GroupView?Branch=" + Branch + "&GroupName=" + GroupName + "&FromDate=" + FromDate + "&ToDate=" + ToDate).success(function (data, status) {
                    //    alert("success....");
                    //$scope.GroupsData = data;
                    //                //$scope.IsVisible = true;
                    //            });
                    //FromDate = new Date('01 Apr 2017'); ToDate = new Date('20 Dec 2017');
                    var httpRequest = $http
                        ({
                            method: "get",
                            url: "/Masters/GetChitGroupList?Branch=" + Branch + "&GroupName=" + GroupName + "&ChitSeries=" + ChitSeries + "&FromDate=" + FromDate + "&ToDate=" + ToDate +  "",
                            dataType: 'json',
                            headers: { "Content-Type": "application/json" }
                        }).then(function (data, status)
                        {
                            console.log(data.data);
                            //var myDate = new Date(data.data[0].CommenseDate.match(/\d+/)[0] * 1);
                            //alert(myDate);
                            $scope.GroupsData = data.data;
                            $scope.IsVisible = true;
                        });
                }//List Function
                $scope.Back = function ()
                {
                    window.location = "/Masters/ChitGroupEntry";
                }//Back Function

                $scope.AuctionTypeChange = function ()
                {
                    $scope.IsVisible1 = true;
                    if ($scope.date.value == "6")
                    {
                        $scope.D1 = true;
                        $scope.D2 = true;
                    }
                    else
                    {
                        $scope.D1 = false;
                        $scope.D2 = false;
                    }
                };//AuctionTypeChange

                $scope.GroupEdit = function () {

                    window.location = "/Masters/ChitGroupEntry?Id=" + $scope.id;
                }//Edit Function
            }//onload function
    });//controller
    app.filter('jsonDate', ['$filter', function ($filter) {
        return function (input, format) {
            return (input) ? $filter('date')(parseInt(input.substr(6)), format) : '';

        };
    }]);
</script>

<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl" data-ng-init="onloadFun()">

    <!-- GENERAL INFORMATION Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <!-- GENERAL INFORMATION -->
                <div class="panel-body">
                    <ng-form name="GeneralForm">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group has-float-label">

                                    <select ng-model="ddlBranch.BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in ddlBranch.Brancesddl" class="form-control seelect-control"></select>
                                    <label for="Group">Branch Name</label>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input class="form-control" type="text" placeholder="Enter Group Name" ng-model="GroupName">
                                    <label for="Group">Groups</label>

                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input class="form-control" ng-model="ChitSeries" type="text" placeholder="Enter Chit Series">
                                    <label for="Chit Series">Chit Series</label>

                                </div>

                            </div>

                        </div>
                        <!-- End of Row -->
                        <!-- Row -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">

                                    <select class="form-control seelect-control" ng-model="date" ng-options="date as date.label for date in daterange" ng-change="AuctionTypeChange()"></select>
                                    <label for="Group">Date Range</label>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="IsVisible1">
                                <div class="form-group has-float-label">

                                    <input class="form-control" ng-show="D1" ng-model="fromdate" type="date">
                                    <label for="Group">From Date</label>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="IsVisible1">
                                <div class="form-group has-float-label">
                                    <input class="form-control" type="date" ng-model="todate">
                                    <label for="Group">To Date</label>
                                </div>
                            </div>

                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">

                                    <select class="form-control seelect-control" ng-model="size" ng-options="size as size.label for size in pagesize"></select>
                                    <label for="Group">Page Size</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-custom1" ng-click="List()">View</button>
                                <button class="btn btn-custom1" ng-click="Back()">Back</button>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table width="100%" ng-show="IsVisible" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Action</th>
                                            <th>Group</th>
                                            <th>Members</th>
                                            <th>Series</th>
                                            <th>Comm Date</th>
                                            <th>Term Date</th>
                                            <th>B.L.No.</th>
                                            <th>B.L. Date</th>
                                            <th>Chit_Amt</th>

                                        </tr>
                                    </thead>

                                    <tbody ng-repeat="group in GroupsData">
                                        <tr>
                                            @*<td class="text-center"><input type="radio" ng-model="$parent.id" value="{{group.GroupId}}" /></td>*@
                                            <td class="text-center">
                                                <label class="pl-10">
                                                    <input class="radio" type="radio" name="edit" ng-model="$parent.id" value="{{group.GroupId}}" >
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>{{group.GroupName}}</td>
                                            <td>{{group.Instalments}}</td>
                                            <td>{{group.GroupSeries}}</td>
                                            <td>{{group.CommenseDate|jsonDate}}</td>
                                            <td>{{group.TerminationDate|jsonDate}}</td>
                                            <td>{{group.ByeLawNo}}</td>
                                            <td>{{group.ByeLawDate|jsonDate}}</td>
                                            <td>{{group.ChitAmount}}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                                <a ng-click="GroupEdit($scope.id)">Edit</a>
                            </div>
                        </div>
                    </ng-form>
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div><!-- /.row -->
    <!--Row End -->
</div>

