﻿
@{
    ViewBag.Title = "ChitGroupEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<script>
    var id = '@ViewBag.id';

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $filter, $http, $window) {
        $scope.names = [
            { "value": 0, "label": "MADDUR" },
            { "value": 1, "label": "nizamabad" }
        ];

        $scope.Branch = $scope.names[0];

        $scope.options = [
            { "value": 0, "id": 1, "label": "Monthly" },
            { "value": 1, "id": 2, "label": "Bi Monthly" },
            { "value": 2, "id": 4, "label": "Weekly" },
            { "value": 3, "id": 30, "label": "Daily" },
            { "value": 4, "id": 3, "label": "10 Days" }
        ];

        $scope.opt = $scope.options[0];

        $scope.AuctionDate = [
            { "value": 0, "label": "Sunday" },
            { "value": 1, "label": "Monday" },
            { "value": 2, "label": "Tuesday" },
            { "value": 3, "label": "Wednesday" },
            { "value": 4, "label": "Thursday" },
            { "value": 5, "label": "Friday" },
            { "value": 6, "label": "Saturday" },
            { "value": 7, "label": "Last Sunday" },
            { "value": 8, "label": "Last Monday" },
            { "value": 9, "label": "Last Tuesday" },
            { "value": 10, "label": "Last Wednesday" },
            { "value": 11, "label": "Last Thursday" },
            { "value": 12, "label": "Last Friday" },
            { "value": 13, "label": "Last Saturday" },
            { "value": 14, "label": "Every Month" },
            { "value": 15, "label": "Every Week" },
            { "value": 16, "label": "Every Day" }
        ];
        $scope.AucDate = $scope.AuctionDate[14];


        $scope.FDRType = [
            { "value": 0, "label": "Simple" },
            { "value": 1, "label": "Cummulative" }
        ];

        $scope.FDR = $scope.FDRType[0];

        $scope.Time = [
            { "value": 0, "label": "AM" },
            { "value": 1, "label": "PM" },
        ]

        $scope.TimeFrom = $scope.Time[0];

        $scope.onloadFun = function () {
            $http.get('/Common/GetBranches').then(function (branchesResponse) {

                $scope.ddlBranch = {};

                $scope.ddlBranch.Brancesddl = branchesResponse.data;

                $scope.ddlBranch.BranchId = $scope.ddlBranch.Brancesddl[0].BranchId;

            })
            if (id > 0)
            {
                var httpRequest = $http({
                    method: "get",
                    url: "/Masters/ChitGroupEdit?GroupId=" + id,
                    dataType: 'json',
                    headers: { "Content-Type": "application/json" }
                }).then(function (data, success)
                {
                    console.log(data.data);
                    var termdate = new Date(data.data.TerminationDate.match(/\d+/)[0] * 1);



                    $scope.GroupName = data.data.GroupName;
                    $scope.ddlBranch.BranchId = data.data.BranchId;
                    //$scope.Branch = $scope.BranchList[data.data.BranchId-1];
                    //if ($scope.BranchList[data.data.BranchId] == 0)
                    //{
                    //    $scope.Branch = $scope.BranchList[data.data.BranchId + 1];
                    //}
                    //else
                    //{
                    //    $scope.Branch = $scope.BranchList[data.data.BranchId - 1];
                    //}
                    $scope.chitamount = data.data.ChitAmount;
                    $scope.opt = $scope.options[data.data.AuctType];
                    if ($scope.opt.value == "0" || $scope.opt.value == "4") {
                        $scope.W1 = true;
                        $scope.W2 = false;
                    }
                    else if ($scope.opt.value == "1" || $scope.opt.value == "2") {
                        $scope.W1 = true;
                        $scope.W2 = true;
                    }
                    else if ($scope.opt.value == "3") {
                        $scope.W1 = false;
                        $scope.W2 = false;
                    }
                    $scope.noofinstall = data.data.Instalments;
                    $scope.ChitSeries = data.data.GroupSeries;
                    $scope.PSONumber = data.data.PSONo;
                    $scope.PSODate = new Date(data.data.PSODate.match(/\d+/)[0] * 1);

                    $scope.ByelawNo = data.data.ByeLawNo;
                    $scope.ByelawDate = new Date(data.data.ByeLawDate.match(/\d+/)[0] * 1);

                    $scope.CommDate = new Date(data.data.CommenseDate.match(/\d+/)[0] * 1);
                    $scope.txtTermDt = $filter('date')(termdate, "dd/MM/yyyy");
                    //$scope.txtTermDt var = new Date(data.data.TerminationDate.match(/\d+/)[0] * 1);

                    //$filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                    $scope.RegisAt = data.data.RegistrationAt;
                    $scope.EnrolFee = data.data.EnrollmentFee;
                    $scope.chitno = data.data.CompanyChit;
                    $scope.CompAucNo = data.data.CompanyAuctionNo;
                    $scope.compcomm = data.data.CompanyCommission;
                    $scope.maxceiling = data.data.CeilingPer;
                    $scope.PenaltyNPS = data.data.NPSPenalty;
                    $scope.PenaltyPS = data.data.PSPenalty;

                    $scope.Dividend = data.data.Dividend;

                    if ($scope.Dividend == 0) {
                        $scope.Dividend = "0";
                    }
                    else {
                        $scope.Dividend = "1";
                    }
                    $scope.txtInstAmt = data.data.FractionAmount;
                    $scope.TotalFractionsAmount = data.data.InstalmentAmt;
                    $scope.FractionInstalments = data.data.FractionInst;

                    $scope.AucDate = $scope.AuctionDate[data.data.AuctDay];
                    $scope.weekly1 = data.data.WeekNo;
                    $scope.weekly2 = data.data.WeekNo1;
                    $scope.AcnTimeFrom = data.data.AuctTimeFrom;
                    $scope.AcnTimeTo = data.data.AuctTimeTo;
                    var time = angular.copy($scope.AcnTimeFrom);

                    if (time > 12) {
                        $scope.AcnTimeFrom = "";
                        alert("Enter 12hrs format");
                    }
                    else {
                        if (time.split(':').length > 1) {
                        } else {
                            time = time + ':00';
                            $scope.AcnTimeFrom = time;
                        }
                        var hours = time.split(':')[0];
                        var minutes = time.split(':')[1] || 00;
                        var storeTime;
                        hours = hours * 60;
                        minutes = parseInt(minutes);
                        storeTime = hours + minutes + 5;

                        minutes = storeTime % 60;
                        hours = parseInt(storeTime / 60);

                        $scope.AcnTimeFrom = time;
                        console.log("time", time);

                        //$scope.AcnTimeFrom = parseInt(time) + ':00';
                        minutes = minutes + '';
                        if (minutes.length < 2) {
                            minutes = '0' + minutes;
                        }
                        var a = hours + ":" + minutes;			//parseInt(time) + ':05';
                        console.log("storeTime", storeTime);

                        if (storeTime >= 720) {
                            $scope.AcnTimeTo = a;
                            $scope.TimeFrom = $scope.Time[1];
                        }
                        else if (storeTime > 60 && storeTime <= 535) {
                            $scope.AcnTimeTo = a;
                            $scope.TimeFrom = $scope.Time[1];
                        }
                        else {
                            $scope.AcnTimeTo = a;
                            $scope.TimeFrom = $scope.Time[0];
                        }
                    }
                    $scope.FDRNo = data.data.groupSuriety.FDRNo;
                    $scope.FDRDate = new Date(data.data.groupSuriety.FDRDate.match(/\d+/)[0] * 1);

                    $scope.NoofMonthsWeeksDays = data.data.groupSuriety.FDRNoofMonths;
                    $scope.FDR = $scope.FDRType[data.data.groupSuriety.FDRType];
                    $scope.FDRAmount = data.data.groupSuriety.FDRAmount;
                    $scope.ROIPerYear = data.data.groupSuriety.FDRInterest;
                    $scope.FDRMaturityAmount = data.data.groupSuriety.FDRMaturityAmount;
                    $scope.MaturityDate = new Date(data.data.groupSuriety.FDRMaturityDate.match(/\d+/)[0] * 1);

                    $scope.BankBranch = data.data.groupSuriety.FDRBankBranch;
                    $scope.BankName = data.data.groupSuriety.FDRBank;

                    //input type only numbers

                    $scope.filterValue = function ($event) {
                        if (isNaN(String.fromCharCode($event.keyCode))) {
                            $event.preventDefault();
                        }
                    }


                    $scope.EmpList = function () {
                        window.location = "/Masters/ChitGroupList";
                    }
                    //1)GENERAL INFORMATION

                    //onblur NoOfInstallments event

                    $scope.NoOfInstallments = function () {
                        $scope.txtInstAmt = $scope.chitamount / $scope.noofinstall;
                       
                        var instalmnt = $scope.noofinstall;
                        var chitamt = $scope.chitamount;
                        var today = new Date($scope.CommDate);
                        if ($scope.opt.value == 0) {
                          
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                           
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                        }
                        else if ($scope.opt.value == 1) {
                           
                            var insamt = instalmnt / 2;
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(insamt - 1, 'M')), 'dd/MM/yyyy');
                           
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                        }
                        else if ($scope.opt.value == 2) {
                           
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'w')), 'dd/MM/yyyy');
                          
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[15];
                        }
                        else if ($scope.opt.value == 3) {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'd')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[16];
                        }
                        else if ($scope.opt.value == 4) {
                            //alert(today);
                            var tendays = instalmnt - 1;
                            //alert(tendays);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(tendays * 10, 'd')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[14];
                        }
                    };


                    //CommDateChange onchange event

                    $scope.CommDateChange = function () {
                        $scope.txtInstAmt = $scope.chitamount / $scope.noofinstall;
                        //alert($scope.opt.label);
                        //alert($scope.noofinstall);
                        var instalmnt = $scope.noofinstall;
                        var chitamt = $scope.chitamount;
                        var today = new Date($scope.CommDate);
                        if ($scope.opt.value == 0) {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                        }
                        else if ($scope.opt.value == 1) {
                            //alert(today);
                            var insamt = instalmnt / 2;
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(insamt - 1, 'M')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                        }
                        else if ($scope.opt.value == 2) {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'w')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[15];
                        }
                        else if ($scope.opt.value == 3) {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'd')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[16];
                        }
                        else if ($scope.opt.value == 4) {
                            //alert(today);
                            var tendays = instalmnt - 1;
                            //alert(tendays);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(tendays * 10, 'd')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[14];
                        }
                    };

                    //AuctionType DropDownListChange onchange event

                    $scope.AuctionTypeChange = function () {
                        if ($scope.opt.value == "0" || $scope.opt.value == "4") {
                            $scope.W1 = true;
                            $scope.W2 = false;
                        }
                        else if ($scope.opt.value == "1" || $scope.opt.value == "2") {
                            $scope.W1 = true;
                            $scope.W2 = true;
                        }
                        else if ($scope.opt.value == "3") {
                            $scope.W1 = false;
                            $scope.W2 = false;
                        }

                        $scope.txtTermDt = "";
                        //alert("hai");
                        $scope.txtInstAmt = $scope.chitamount / $scope.noofinstall;
                        //alert($scope.opt.label);
                        //alert($scope.noofinstall);
                        var instalmnt = $scope.noofinstall;
                        var chitamt = $scope.chitamount;
                        var today = new Date($scope.CommDate);
                        if ($scope.opt.value == 0) {
                            if ($scope.noofinstall == undefined) {
                                $scope.txtTermDt = "";
                            }
                            else {
                                //alert(today);
                                var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                                //alert(terdate);
                                $scope.txtTermDt = terdate;
                                $scope.TotalFractionsAmount = chitamt;
                                $scope.FractionInstalments = instalmnt;
                            }
                        }
                        else if ($scope.opt.value == 1) {
                            if ($scope.noofinstall == undefined) {
                                $scope.txtTermDt = "";
                            }
                            else {
                                //alert(today);
                                var insamt = instalmnt / 2;
                                var terdate = $filter('date')(new Date(moment($scope.CommDate).add(insamt - 1, 'M')), 'dd/MM/yyyy');
                                //alert(terdate);
                                $scope.txtTermDt = terdate;
                                $scope.TotalFractionsAmount = chitamt;
                                $scope.FractionInstalments = instalmnt;
                            }
                        }
                        else if ($scope.opt.value == 2) {
                            $scope.AucDate = $scope.AuctionDate[15];
                            if ($scope.noofinstall == undefined) {
                                $scope.txtTermDt = "";
                            }
                            else {
                                //alert(today);
                                var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'w')), 'dd/MM/yyyy');
                                //alert(terdate);
                                $scope.txtTermDt = terdate;
                                $scope.TotalFractionsAmount = chitamt;
                                $scope.FractionInstalments = instalmnt;
                                $scope.AucDate = $scope.AuctionDate[15];
                            }
                        }
                        else if ($scope.opt.value == 3) {
                            $scope.AucDate = $scope.AuctionDate[16];
                            if ($scope.noofinstall == undefined) {
                                $scope.txtTermDt = "";
                            }
                            else {
                                //alert(today);
                                var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'd')), 'dd/MM/yyyy');
                                //alert(terdate);
                                $scope.txtTermDt = terdate;
                                $scope.TotalFractionsAmount = chitamt;
                                $scope.FractionInstalments = instalmnt;
                                $scope.AucDate = $scope.AuctionDate[16];
                            }
                        }
                        else if ($scope.opt.value == 4) {
                            $scope.AucDate = $scope.AuctionDate[14];
                            if ($scope.noofinstall == undefined) {
                                $scope.txtTermDt = "";
                            }
                            else {
                                //alert(today);
                                var tendays = instalmnt - 1;
                                //alert(tendays);
                                var terdate = $filter('date')(new Date(moment($scope.CommDate).add(tendays * 10, 'd')), 'dd/MM/yyyy');
                                //alert(terdate);
                                $scope.txtTermDt = terdate;
                                $scope.TotalFractionsAmount = chitamt;
                                $scope.FractionInstalments = instalmnt;
                                $scope.AucDate = $scope.AuctionDate[14];
                            }
                        }
                    };

                    //2)Auction Information

                    //onblur AcnTimeFrom event
                    $scope.AcnTimeFromChange = function () {
                        var time = angular.copy($scope.AcnTimeFrom);

                        if (time > 12) {
                            $scope.AcnTimeFrom = "";
                            alert("Enter 12hrs format");
                        }
                        else {
                            if (time.split(':').length > 1) {
                            } else {
                                time = time + ':00';
                                $scope.AcnTimeFrom = time;
                            }
                            var hours = time.split(':')[0];
                            var minutes = time.split(':')[1] || 00;
                            var storeTime;
                            hours = hours * 60;
                            minutes = parseInt(minutes);
                            storeTime = hours + minutes + 5;

                            minutes = storeTime % 60;
                            hours = parseInt(storeTime / 60);

                            $scope.AcnTimeFrom = time;
                            console.log("time", time);

                            //$scope.AcnTimeFrom = parseInt(time) + ':00';
                            minutes = minutes + '';
                            if (minutes.length < 2) {
                                minutes = '0' + minutes;
                            }
                            var a = hours + ":" + minutes;			//parseInt(time) + ':05';
                            console.log("storeTime", storeTime);

                            if (storeTime >= 720) {
                                $scope.AcnTimeTo = a;
                                $scope.TimeFrom = $scope.Time[1];
                            }
                            else if (storeTime > 60 && storeTime <= 535) {
                                $scope.AcnTimeTo = a;
                                $scope.TimeFrom = $scope.Time[1];
                            }
                            else {
                                $scope.AcnTimeTo = a;
                                $scope.TimeFrom = $scope.Time[0];
                            }
                        }
                    }

                    //3)FDR INFORMATION

                    //Maturity date change based on no of months on blur

                    $scope.SubmitData = function () {

                        var Suriety =
                            {
                                //GrpSuretyId:1,
                                SuretyGroupId: 1,
                                FDRNo: $scope.FDRNo,
                                FDRDate: new Date($scope.FDRDate),
                                FDRNoofMonths: $scope.NoofMonthsWeeksDays,
                                FDRType: $scope.FDR.value,
                                FDRAmount: $scope.FDRAmount,
                                FDRInterest: $scope.ROIPerYear,
                                FDRMaturityDate: new Date($scope.MaturityDate),
                                FDRMaturityAmount: $scope.FDRMaturityAmount,
                                FDRBank: $scope.BankName,
                                FDRBankBranch: $scope.BankBranch,
                                MortgageDesc: "SSS",
                                MortgageValue: 5555,
                                MortgageDate: new Date()
                            }


                        var groupViewModel =
                            {
                                GroupId: id,
                                GroupName: $scope.GroupName,
                                BranchId: $scope.ddlBranch.BranchId,
                                ChitAmount: $scope.chitamount,
                                AuctType: $scope.opt.value,
                                ChitType: 2,
                                Instalments: $scope.noofinstall,
                                GroupSeries: $scope.ChitSeries,
                                PSONo: $scope.PSONumber,
                                PSODate: new Date($scope.PSODate),
                                ByeLawNo: $scope.ByelawNo,
                                ByeLawDate: new Date($scope.ByelawDate),
                                CommenseDate: new Date($scope.CommDate),
                                TerminationDate: $scope.txtTermDt,
                                RegistrationAt: $scope.RegisAt,
                                EnrollmentFee: $scope.EnrolFee,
                                StratDate: new Date(),
                                CompanyChit: $scope.chitno,
                                CompanyAuctionNo: $scope.CompAucNo,
                                CompanyCommission: $scope.compcomm,
                                NPSPenalty: $scope.PenaltyNPS,
                                PSPenalty: $scope.PenaltyPS,
                                CeilingPer: $scope.maxceiling,
                                ReceiptPosting: 15,
                                PaymentPosting: 2,
                                AuctionPosting: 20,
                                BTPosting: 10,
                                DividendRound: 2,
                                Dividend: $scope.Dividend,
                                NoAuctions: 10,
                                InstalmentAmt: $scope.txtInstAmt,
                                AuctTimeFrom: $scope.AcnTimeFrom,
                                AuctTimeTo: $scope.AcnTimeTo,
                                AuctDay: $scope.AucDate.value,
                                WeekNo: $scope.weekly1,
                                WeekNo1: $scope.weekly2,
                                NoOfFrations: $scope.NoOfFraction,
                                FractionInst: $scope.FractionInstalments,
                                FractionAmount: $scope.txtInstAmt,
                                IsGroupClose: 6,
                                CreatedBy: 10,
                                CreatedDate: new Date(),
                                ModifiedBy: 20,
                                ModifiedDate: new Date(),
                                Remarks: "aaa",
                                groupSuriety: Suriety
                            }


                        var post = $http({
                            method: "POST",
                            url: "/Masters/ChitGroupEntry",
                            dataType: 'json',
                            data: { groupViewModel: groupViewModel },
                            headers: { "Content-Type": "application/json" }
                        });
                        post.success(function () {
                            $window.alert("SuccessFully Grouop Created");
                            window.location = "Masters/ChitGroupEntry";
                        });

                        post.error(function (data, status) {
                            $window.alert(data.Message);
                        });

                    }

                    $scope.FDRAmountCal = function () {
                        $scope.FDRMaturityAmount = 0;
                        var NoofMonths = $scope.NoofMonthsWeeksDays;
                        //alert(NoofMonths);
                        var today = $scope.FDRDate;
                        //alert(today);
                        var MaturityDate = $filter('date')(moment($scope.FDRDate).add(NoofMonths, 'M'), 'dd/MM/yyyy');
                        //alert(MaturityDate);
                        $scope.MaturityDate = new Date(MaturityDate);
                        if ($scope.FDR.value == 0) {
                            //alert(today);
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            p = FDRAmount / 12;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            var res = (p * t * r / 100);
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            $scope.FDRMaturityAmount = FDRAmount;
                        }
                        else if ($scope.FDR.value == 1) {
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            for (i = 1; i <= t; i++) {
                                var res = (FDRAmount * (r / 100)) / 12;
                                FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            }
                            $scope.FDRMaturityAmount = FDRAmount;
                        }
                    };


                    $scope.NoofMonths = function () {
                        $scope.FDRMaturityAmount = 0;
                        var NoofMonths = $scope.NoofMonthsWeeksDays;
                        //alert(NoofMonths);
                        var today = $scope.FDRDate;
                        //alert(today);
                        var MaturityDate = $filter('date')(moment($scope.FDRDate).add(NoofMonths, 'M'), 'dd/MM/yyyy');
                        //alert(MaturityDate);
                        $scope.MaturityDate = new Date(MaturityDate);
                        if ($scope.FDR.value == 0) {
                            //alert(today);
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            p = FDRAmount / 12;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            var res = (p * t * r / 100);
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            $scope.FDRMaturityAmount = FDRAmount;
                        }
                        else if ($scope.FDR.value == 1) {
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            for (i = 1; i <= t; i++) {
                                var res = (FDRAmount * (r / 100)) / 12;
                                FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            }
                            $scope.FDRMaturityAmount = FDRAmount;
                        }
                    };

                    //Maturity date change based on rate of interest per year onblur

                    $scope.RateOfInterestPerYear = function () {
                        //simple interest

                        if ($scope.FDR.value == 0) {
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            p = FDRAmount / 12;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            var res = (p * t * r / 100);
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            $scope.FDRMaturityAmount = FDRAmount;
                        }

                        //compound interest


                        else if ($scope.FDR.value == 1) {
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            for (i = 1; i <= t; i++) {
                                var res = (FDRAmount * (r / 100)) / 12;
                                FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            }
                            $scope.FDRMaturityAmount = FDRAmount;
                        }
                    };

                    //Maturity date change based on selected FDR Type
                    $scope.FDRTypeChange = function () {
                        if ($scope.FDR.value == 0) {
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            p = FDRAmount / 12;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            var res = (p * t * r / 100);
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            $scope.FDRMaturityAmount = FDRAmount;
                        }

                        //compound interest


                        else if ($scope.FDR.value == 1) {
                            var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                            FDRAmount = $scope.FDRAmount;
                            t = $scope.NoofMonthsWeeksDays;
                            r = $scope.ROIPerYear;
                            for (i = 1; i <= t; i++) {
                                var res = (FDRAmount * (r / 100)) / 12;
                                FDRAmount = parseInt(FDRAmount) + parseInt(res);
                            }
                            $scope.FDRMaturityAmount = FDRAmount;
                        }
                    }

                    //Auction Day changed based on Auction Type BiMonthly


                    $scope.BiMonthly = function () {
                        if ($scope.AucDate.label == "Sunday" || $scope.AucDate.label == "Monday" || $scope.AucDate.label == "Tuesday" || $scope.AucDate.label == "Wednesday" || $scope.AucDate.label == "Thursday" || $scope.AucDate.label == "Friday"
                            || $scope.AucDate.label == "Saturday") {
                            if (5 <= $scope.weekly1) {
                                alert("Please enter Valid WeekNo.");
                                $scope.weekly1 = "";
                                $scope.weekly2 = "";
                            }
                            else {
                                $scope.weekly2 = 2 + parseInt($scope.weekly1);
                            }
                        }
                        else if ($scope.AucDate.label == "Last Sunday" || $scope.AucDate.label == "Last Monday" || $scope.AucDate.label == "Last Tuesday" || $scope.AucDate.label == "Last Wednesday" || $scope.AucDate.label == "Last Thursday"
                            || $scope.AucDate.label == "Last Friday" || $scope.AucDate.label == "Last Saturday" || $scope.AucDate.label == "Every Week" || $scope.AucDate.label == "Every Day") {
                            $scope.weekly2 = 2 + parseInt($scope.weekly1);
                        }
                        else if ($scope.AucDate.label == "Every Month") {
                            if (29 <= $scope.weekly1) {
                                alert("Please enter Valid Day");
                                $scope.weekly1 = "";
                                $scope.weekly2 = "";
                            }
                            else {
                                $scope.weekly2 = 15 + parseInt($scope.weekly1);
                            }
                        }
                    }
                });
            }//if close
            else {
                $scope.PSODate = new Date();
                $scope.ByelawDate = new Date();
                $scope.CommDate = new Date();
                $scope.FDRDate = new Date();
                $scope.MaturityDate = new Date();
                $scope.Dividend = "0";

                $scope.W1 = true;
                $scope.RE = /^[a-zA-Z ]{1,25}$/;
                $scope.re = /^[0-9]{1,6}$/;
                $scope.re1 = /^[0-9]{1,3}$/;
                $scope.chitamount = 0.00;

                $scope.EmpList = function () {
                    window.location = "/Masters/ChitGroupList";
                }
                //input type only numbers

                $scope.filterValue = function ($event) {
                    if (isNaN(String.fromCharCode($event.keyCode))) {
                        $event.preventDefault();
                    }
                }
                //1)GENERAL INFORMATION

                //onblur NoOfInstallments event

                $scope.NoOfInstallments = function () {
                    $scope.txtInstAmt = $scope.chitamount / $scope.noofinstall;
                    //alert($scope.opt.label);
                    //alert($scope.noofinstall);
                    var instalmnt = $scope.noofinstall;
                    var chitamt = $scope.chitamount;
                    var today = new Date($scope.CommDate);
                    if ($scope.opt.value == 0) {
                        //alert(today);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                    }
                    else if ($scope.opt.value == 1)
                    {
                        //alert(today);
                        var insamt = instalmnt / 2;
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(insamt - 1, 'M')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                    }
                    else if ($scope.opt.value == 2) {
                        //alert(today);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'w')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                        $scope.AucDate = $scope.AuctionDate[15];
                    }
                    else if ($scope.opt.value == 3) {
                        //alert(today);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'd')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                        $scope.AucDate = $scope.AuctionDate[16];
                    }
                    else if ($scope.opt.value == 4) {
                        //alert(today);
                        var tendays = instalmnt - 1;
                        //alert(tendays);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(tendays * 10, 'd')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                        $scope.AucDate = $scope.AuctionDate[14];
                    }
                };


                //CommDateChange onchange event

                $scope.CommDateChange = function () {
                    $scope.txtInstAmt = $scope.chitamount / $scope.noofinstall;
                    //alert($scope.opt.label);
                    //alert($scope.noofinstall);
                    var instalmnt = $scope.noofinstall;
                    var chitamt = $scope.chitamount;
                    var today = new Date($scope.CommDate);
                    if ($scope.opt.value == 0) {
                        //alert(today);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                    }
                    else if ($scope.opt.value == 1) {
                        //alert(today);
                        var insamt = instalmnt / 2;
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(insamt - 1, 'M')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                    }
                    else if ($scope.opt.value == 2) {
                        //alert(today);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'w')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                        $scope.AucDate = $scope.AuctionDate[15];
                    }
                    else if ($scope.opt.value == 3) {
                        //alert(today);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'd')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                        $scope.AucDate = $scope.AuctionDate[16];
                    }
                    else if ($scope.opt.value == 4) {
                        //alert(today);
                        var tendays = instalmnt - 1;
                        //alert(tendays);
                        var terdate = $filter('date')(new Date(moment($scope.CommDate).add(tendays * 10, 'd')), 'dd/MM/yyyy');
                        //alert(terdate);
                        $scope.txtTermDt = terdate;
                        $scope.TotalFractionsAmount = chitamt;
                        $scope.FractionInstalments = instalmnt;
                        $scope.AucDate = $scope.AuctionDate[14];
                    }
                };

                //AuctionType DropDownListChange onchange event

                $scope.AuctionTypeChange = function () {
                    if ($scope.opt.value == "0" || $scope.opt.value == "4") {
                        $scope.W1 = true;
                        $scope.W2 = false;
                    }
                    else if ($scope.opt.value == "1" || $scope.opt.value == "2") {
                        $scope.W1 = true;
                        $scope.W2 = true;
                    }
                    else if ($scope.opt.value == "3") {
                        $scope.W1 = false;
                        $scope.W2 = false;
                    }

                    $scope.txtTermDt = "";
                    //alert("hai");
                    $scope.txtInstAmt = $scope.chitamount / $scope.noofinstall;
                    //alert($scope.opt.label);
                    //alert($scope.noofinstall);
                    var instalmnt = $scope.noofinstall;
                    var chitamt = $scope.chitamount;
                    var today = new Date($scope.CommDate);
                    if ($scope.opt.value == 0) {
                        if ($scope.noofinstall == undefined) {
                            $scope.txtTermDt = "";
                        }
                        else {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'M')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                        }
                    }
                    else if ($scope.opt.value == 1) {
                        if ($scope.noofinstall == undefined) {
                            $scope.txtTermDt = "";
                        }
                        else {
                            //alert(today);
                            var insamt = instalmnt / 2;
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(insamt - 1, 'M')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                        }
                    }
                    else if ($scope.opt.value == 2) {
                        $scope.AucDate = $scope.AuctionDate[15];
                        if ($scope.noofinstall == undefined) {
                            $scope.txtTermDt = "";
                        }
                        else {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'w')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[15];
                        }
                    }
                    else if ($scope.opt.value == 3) {
                        $scope.AucDate = $scope.AuctionDate[16];
                        if ($scope.noofinstall == undefined) {
                            $scope.txtTermDt = "";
                        }
                        else {
                            //alert(today);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(instalmnt - 1, 'd')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[16];
                        }
                    }
                    else if ($scope.opt.value == 4) {
                        $scope.AucDate = $scope.AuctionDate[14];
                        if ($scope.noofinstall == undefined) {
                            $scope.txtTermDt = "";
                        }
                        else {
                            //alert(today);
                            var tendays = instalmnt - 1;
                            //alert(tendays);
                            var terdate = $filter('date')(new Date(moment($scope.CommDate).add(tendays * 10, 'd')), 'dd/MM/yyyy');
                            //alert(terdate);
                            $scope.txtTermDt = terdate;
                            $scope.TotalFractionsAmount = chitamt;
                            $scope.FractionInstalments = instalmnt;
                            $scope.AucDate = $scope.AuctionDate[14];
                        }
                    }
                };

                //2)Auction Information

                //onblur AcnTimeFrom event
                $scope.AcnTimeFromChange = function () {
                    var time = angular.copy($scope.AcnTimeFrom);

                    if (time > 12) {
                        $scope.AcnTimeFrom = "";
                        alert("Enter 12hrs format");
                    }
                    else {
                        if (time.split(':').length > 1) {
                        } else {
                            time = time + ':00';
                            $scope.AcnTimeFrom = time;
                        }
                        var hours = time.split(':')[0];
                        var minutes = time.split(':')[1] || 00;
                        var storeTime;
                        hours = hours * 60;
                        minutes = parseInt(minutes);
                        storeTime = hours + minutes + 5;

                        minutes = storeTime % 60;
                        hours = parseInt(storeTime / 60);

                        $scope.AcnTimeFrom = time;
                        console.log("time", time);

                        //$scope.AcnTimeFrom = parseInt(time) + ':00';
                        minutes = minutes + '';
                        if (minutes.length < 2) {
                            minutes = '0' + minutes;
                        }
                        var a = hours + ":" + minutes;			//parseInt(time) + ':05';
                        console.log("storeTime", storeTime);

                        if (storeTime >= 720) {
                            $scope.AcnTimeTo = a;
                            $scope.TimeFrom = $scope.Time[1];
                        }
                        else if (storeTime > 60 && storeTime <= 535) {
                            $scope.AcnTimeTo = a;
                            $scope.TimeFrom = $scope.Time[1];
                        }
                        else {
                            $scope.AcnTimeTo = a;
                            $scope.TimeFrom = $scope.Time[0];
                        }
                    }
                }

                //3)FDR INFORMATION

                //Maturity date change based on no of months on blur

                $scope.SubmitData = function () {
                    var alertValidation = "";
                    if ($scope.GroupName == undefined) {
                        alertValidation += "please enter Group Name\n\n";

                    }
                    if ($scope.noofinstall == undefined) {
                        alertValidation += "Please Enter the installment no\n\n";
                    }
                    if ($scope.EnrolFee == "")
                    {
                        alertValidation += "Please enter Enrollment Fee\n\n";
                    }
                    if ($scope.AcnTimeFrom == undefined)
                    {
                        alertValidation += "Please Enter AuctionFrom\n\n";
                    }
                    if ($scope.AcnTimeTo == undefined)
                    {
                        alertValidation += "Please Enter AuctionTo";
                    }
                    if (alertValidation != "") {
                        alert(alertValidation);
                        return false; //Stop the each loop
                    }
                    var Suriety =
                        {
                            //GrpSuretyId:1,
                            SuretyGroupId: 1,
                            FDRNo: $scope.FDRNo,
                            FDRDate: new Date($scope.FDRDate),
                            FDRNoofMonths: $scope.NoofMonthsWeeksDays,
                            FDRType: $scope.FDR.value,
                            FDRAmount: $scope.FDRAmount,
                            FDRInterest: $scope.ROIPerYear,
                            FDRMaturityDate: new Date($scope.MaturityDate),
                            FDRMaturityAmount: $scope.FDRMaturityAmount,
                            FDRBank: $scope.BankName,
                            FDRBankBranch: $scope.BankBranch,
                            MortgageDesc: "SSS",
                            MortgageValue: 5555,
                            MortgageDate: new Date()
                        }


                    var groupViewModel =
                        {
                            //GroupId:1,
                            GroupName: $scope.GroupName,
                            BranchId: $scope.ddlBranch.BranchId,
                            ChitAmount: $scope.chitamount,
                            AuctType: $scope.opt.value,
                            ChitType: 2,
                            Instalments: $scope.noofinstall,
                            GroupSeries: $scope.ChitSeries,
                            PSONo: $scope.PSONumber,
                            PSODate: new Date($scope.PSODate),
                            ByeLawNo: $scope.ByelawNo,
                            ByeLawDate: new Date($scope.ByelawDate),
                            CommenseDate: new Date($scope.CommDate),
                            TerminationDate: $scope.txtTermDt,
                            RegistrationAt: $scope.RegisAt,
                            EnrollmentFee: $scope.EnrolFee,
                            StratDate: new Date(),
                            CompanyChit: $scope.chitno,
                            CompanyAuctionNo: $scope.CompAucNo,
                            CompanyCommission: $scope.compcomm,
                            NPSPenalty: $scope.PenaltyNPS,
                            PSPenalty: $scope.PenaltyPS,
                            CeilingPer: $scope.maxceiling,
                            ReceiptPosting: 15,
                            PaymentPosting: 2,
                            AuctionPosting: 20,
                            BTPosting: 10,
                            DividendRound: 2,
                            Dividend: $scope.Dividend,
                            NoAuctions: 10,
                            InstalmentAmt: $scope.txtInstAmt,
                            AuctTimeFrom: $scope.AcnTimeFrom,
                            AuctTimeTo: $scope.AcnTimeTo,
                            AuctDay: $scope.AucDate.value,
                            WeekNo: $scope.weekly1,
                            WeekNo1: $scope.weekly2,
                            NoOfFrations: $scope.NoOfFraction,
                            FractionInst: $scope.FractionInstalments,
                            FractionAmount: $scope.txtInstAmt,
                            IsGroupClose: 6,
                            CreatedBy: 10,
                            CreatedDate: new Date(),
                            ModifiedBy: 20,
                            ModifiedDate: new Date(),
                            Remarks: "aaa",
                            groupSuriety: Suriety
                        }



                    var post = $http({
                        method: "POST",
                        url: "/Masters/ChitGroupEntry",
                        dataType: 'json',
                        data: { groupViewModel: groupViewModel },
                        headers: { "Content-Type": "application/json" }
                    });

                    post.error(function (data, status) {
                        $window.alert(data.Message);
                    });

                }

                $scope.FDRAmountCal = function () {
                    $scope.FDRMaturityAmount = 0;
                    var NoofMonths = $scope.NoofMonthsWeeksDays;
                    //alert(NoofMonths);
                    var today = $scope.FDRDate;
                    //alert(today);
                    var MaturityDate = $filter('date')(moment($scope.FDRDate).add(NoofMonths, 'M'), 'dd/MM/yyyy');
                    //alert(MaturityDate);
                    $scope.MaturityDate = new Date(MaturityDate);
                    if ($scope.FDR.value == 0) {
                        //alert(today);
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        p = FDRAmount / 12;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        var res = (p * t * r / 100);
                        FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        $scope.FDRMaturityAmount = FDRAmount;
                    }
                    else if ($scope.FDR.value == 1) {
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        for (i = 1; i <= t; i++) {
                            var res = (FDRAmount * (r / 100)) / 12;
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        }
                        $scope.FDRMaturityAmount = FDRAmount;
                    }
                };


                $scope.NoofMonths = function () {
                    $scope.FDRMaturityAmount = 0;
                    var NoofMonths = $scope.NoofMonthsWeeksDays;
                    //alert(NoofMonths);
                    var today = $scope.FDRDate;
                    //alert(today);
                    var MaturityDate = $filter('date')(moment($scope.FDRDate).add(NoofMonths, 'M'), 'dd/MM/yyyy');
                    //alert(MaturityDate);
                    $scope.MaturityDate = new Date(MaturityDate);
                    if ($scope.FDR.value == 0) {
                        //alert(today);
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        p = FDRAmount / 12;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        var res = (p * t * r / 100);
                        FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        $scope.FDRMaturityAmount = FDRAmount;
                    }
                    else if ($scope.FDR.value == 1) {
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        for (i = 1; i <= t; i++) {
                            var res = (FDRAmount * (r / 100)) / 12;
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        }
                        $scope.FDRMaturityAmount = FDRAmount;
                    }
                };

                //Maturity date change based on rate of interest per year onblur

                $scope.RateOfInterestPerYear = function () {
                    //simple interest

                    if ($scope.FDR.value == 0) {
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        p = FDRAmount / 12;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        var res = (p * t * r / 100);
                        FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        $scope.FDRMaturityAmount = FDRAmount;
                    }

                    //compound interest


                    else if ($scope.FDR.value == 1) {
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        for (i = 1; i <= t; i++) {
                            var res = (FDRAmount * (r / 100)) / 12;
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        }
                        $scope.FDRMaturityAmount = FDRAmount;
                    }
                };

                //Maturity date change based on selected FDR Type
                $scope.FDRTypeChange = function () {
                    if ($scope.FDR.value == 0) {
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        p = FDRAmount / 12;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        var res = (p * t * r / 100);
                        FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        $scope.FDRMaturityAmount = FDRAmount;
                    }

                    //compound interest


                    else if ($scope.FDR.value == 1) {
                        var FDRAmount, NoofMonthsWeeksDays, p, t, r;
                        FDRAmount = $scope.FDRAmount;
                        t = $scope.NoofMonthsWeeksDays;
                        r = $scope.ROIPerYear;
                        for (i = 1; i <= t; i++) {
                            var res = (FDRAmount * (r / 100)) / 12;
                            FDRAmount = parseInt(FDRAmount) + parseInt(res);
                        }
                        $scope.FDRMaturityAmount = FDRAmount;
                    }
                }

                //Auction Day changed based on Auction Type BiMonthly


                $scope.BiMonthly = function () {
                    if ($scope.AucDate.label == "Sunday" || $scope.AucDate.label == "Monday" || $scope.AucDate.label == "Tuesday" || $scope.AucDate.label == "Wednesday" || $scope.AucDate.label == "Thursday" || $scope.AucDate.label == "Friday"
                        || $scope.AucDate.label == "Saturday") {
                        if (5 <= $scope.weekly1) {
                            alert("Please enter Valid WeekNo.");
                            $scope.weekly1 = "";
                            $scope.weekly2 = "";
                        }
                        else {
                            $scope.weekly2 = 2 + parseInt($scope.weekly1);
                        }
                    }
                    else if ($scope.AucDate.label == "Last Sunday" || $scope.AucDate.label == "Last Monday" || $scope.AucDate.label == "Last Tuesday" || $scope.AucDate.label == "Last Wednesday" || $scope.AucDate.label == "Last Thursday"
                        || $scope.AucDate.label == "Last Friday" || $scope.AucDate.label == "Last Saturday" || $scope.AucDate.label == "Every Week" || $scope.AucDate.label == "Every Day") {
                        $scope.weekly2 = 2 + parseInt($scope.weekly1);
                    }
                    else if ($scope.AucDate.label == "Every Month") {
                        if (29 <= $scope.weekly1) {
                            alert("Please enter Valid Day");
                            $scope.weekly1 = "";
                            $scope.weekly2 = "";
                        }
                        else {
                            $scope.weekly2 = 15 + parseInt($scope.weekly1);
                        }
                    }
                }

            }//else close
        }//onload function
    });//controller close

</script>

<body ng-app="myApp" ng-controller="myCtrl">
    <form name="frmGroup" ng-submit="SubmitData()">
        <div class="container-fluid" data-ng-init="onloadFun()">

            <!-- Chitcare Demo Row -->
            <div class="row">
                <div class="col-md-6">
                    <h4>Chitcare Demo</h4>
                </div>

                <div class="col-md-6">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb text-sm-right mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Masters</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chit Group Entry</li>
                        </ol>
                    </nav>
                </div>

            </div>
            <!-- /.row -->
            <!-- GENERAL INFORMATION Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span>GENERAL INFORMATION
                        </div>
                        <!-- GENERAL INFORMATION -->
                        <div class="panel-body">
                            <ng-form name="GeneralForm">
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter Group Name" ng-model="GroupName">
                                            <label for="Group">Group Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">

                                            <select ng-model="ddlBranch.BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in ddlBranch.Brancesddl" class="form-control seelect-control"></select>

                                            <label for="Group">Branch Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" ng-model="chitamount" name="chitamount" ng-keypress="filterValue($event)" type="text" placeholder="Enter Chit Amount">

                                            <label for="Group">Chit Amount</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Row -->
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">

                                            <select class="form-control seelect-control" ng-model="opt" ng-options="opt as opt.label for opt in options" ng-change="AuctionTypeChange()"></select>
                                            <label for="Group">Auction Type</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter No.Of Installments" ng-model="noofinstall" name="noofinstall" maxlength="3" ng-blur="NoOfInstallments()" ng-keypress="filterValue($event)">
                                            <label for="Group">No.Of Installments</label>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter Chit Series" ng-model="ChitSeries">
                                            <label for="Group">Chit Series(ST/LT Group)</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Row -->
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter PSO Number" ng-model="PSONumber">
                                            <label for="Group">PSO Number</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="date" placeholder="Enter PSO Date" ng-model="PSODate">
                                            <label for="Group">PSO Date</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter Byelaw No" ng-model="ByelawNo">
                                            <label for="Group">Byelaw No</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Row -->
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="date" placeholder="Enter Byelaw Date" ng-model="ByelawDate">
                                            <label for="Group">Byelaw Date</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="date" placeholder="Enter Comm. Date" ng-model="CommDate" ng-change="CommDateChange()">
                                            <label for="Group">Comm. Date</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter Termination Date" ng-model="txtTermDt" >
                                            <label for="Group">Termination Date</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Row -->
                                <!-- Row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter Registration At" ng-model="RegisAt">
                                            <label for="Group">Registration At</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Enter Enrol Fee" ng-model="EnrolFee" ng-init="EnrolFee=0" ng-keypress="filterValue($event)">
                                            <label for="Group">Enrol Fee</label>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.row -->
                            </ng-form>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div>
            </div><!-- /.row -->
            <!--Row End -->
            <!-- COMPANY INFORMATION Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span>COMPANY INFORMATION
                        </div>
                        <!-- COMPANY INFORMATION -->
                        <div class="panel-body">

                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Company Chit No." ng-model="chitno" ng-init="chitno = 1" ng-keypress="filterValue($event)">
                                        <label for="Group">Company Chit No.</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <input class="checkbox" type="checkbox" checked="">
                                            <span>Do You Want to Round the Dividend Amount</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Row -->
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="No Auction Installment" ng-model="CompAucNo" ng-init="CompAucNo = 2" ng-keypress="filterValue($event)">
                                        <label for="Group">No Auction Installment</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <input class="checkbox" type="checkbox">
                                            <span>Do You Want to Round the Dividend Amount</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Row -->
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Company Commission" ng-model="compcomm" ng-init="compcomm = 5" ng-keypress="filterValue($event)">
                                        <label for="Group">Company Commission (%)</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <input class="checkbox" type="checkbox">
                                            <span>Do You Want to Account Posting Auction Details</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Row -->
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Max Ceiling In" ng-model="maxceiling " ng-init="maxceiling = 40" ng-keypress="filterValue($event)">
                                        <label for="Group">Max Ceiling In (%)</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <input class="checkbox" type="checkbox">
                                            <span>Do You Want to Account Posting Payments Details</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Row -->
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Penalty for NPS" ng-model="PenaltyNPS " ng-init="PenaltyNPS = 3" ng-keypress="filterValue($event)">
                                        <label for="Group">Penalty for NPS (%)</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <input class="checkbox" type="checkbox">
                                            <span>Do You Want to Account Posting Receipts Details</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!-- End of Row -->
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Penalty for PS" ng-model="PenaltyPS " ng-init="PenaltyPS = 6" ng-keypress="filterValue($event)">
                                        <label for="Group">Penalty for PS (%)</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">

                                        <span class="pr-10">Dividend :</span>
                                        <label class="pr-10">
                                            <input class="radio" type="radio" name="Dividend" ng-model="Dividend" value="1">
                                            <span>Same Month</span>
                                        </label>
                                        <label class="pr-10">
                                            <input class="radio" type="radio" name="Dividend" ng-model="Dividend" value="0">
                                            <span>Next Month</span>
                                        </label>

                                    </div>
                                </div>

                            </div>
                            <!-- End of Row -->

                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div>
            </div><!-- /.row -->
            <!--Row End -->
            <!-- AUCTION INFORMATION Row -->
            <div class="row equals">
                <div class="col-lg-6">
                    <div class="panel panel-default equal-height" style="height: 255px;">
                        <div class="panel-heading">
                            <span class="colour-box"></span>  AUCTION INFORMATION
                        </div>
                        <!-- AUCTION INFORMATION -->
                        <div class="panel-body pb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ng-form name="AuctionForm">

                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Auctions Per Month" ng-model="opt.id" ng-keypress="filterValue($event)">
                                            <label for="Group">Auctions Per Month</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Inst. Amount" ng-model="txtInstAmt" ng-init="txtInstAmt=0">
                                            <label for="Group">Inst. Amount</label>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 pr-0">
                                                <div class="form-group has-float-label">
                                                    <select class="form-control" ng-model="AucDate" ng-options="AucDate as AucDate.label for AucDate in AuctionDate" ng-change="spanchange()"></select>

                                                    <label for="Group">Auction Date</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 pl-0 pr-0">
                                                <div class="form-group has-float-label">
                                                    <input class="form-control" ng-show="W1" ng-model="weekly1" type="text"  value="0" ng-blur="BiMonthly()" ng-keypress="filterValue($event)">
                                                  
                                                </div>
                                            </div>
                                            <div class="col-xs-2 pl-0">
                                                <input class="form-control" ng-show="W2" ng-model="weekly2" type="text"  value="0" ng-keypress="filterValue($event)">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8 pr-0">
                                                <div class="form-group has-float-label">
                                                    <input class="form-control" type="text" placeholder="Enter Acn.Time From" ng-model="AcnTimeFrom" ng-blur="AcnTimeFromChange()" ng-keypress="filterValue($event)">
                                                    <label for="Group">Acn.Time From</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 pl-0 pr-0">
                                                <div class="form-group has-float-label">
                                                    <input class="form-control" type="text" placeholder="To" ng-model="AcnTimeTo">
                                                    <label for="Group">To</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 pl-0">
                                                <select class="form-control" ng-model="TimeFrom" ng-options="TimeFrom as TimeFrom.label for TimeFrom in Time"></select>
                                            </div>
                                        </div>


                                    </ng-form>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default equal-height" style="height: 255px;">
                        <div class="panel-heading">
                            <span class="colour-box"></span> FRACTION INFORMATION
                        </div>
                        <!-- FRACTION INFORMATION -->
                        <div class="panel-body pb-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="No of Fraction" ng-model="NoOfFraction" ng-init="NoOfFraction = 1" ng-keypress="filterValue($event)">
                                            <label for="Group">No of Fraction</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Total Fractions Amount" ng-model="TotalFractionsAmount" disabled>
                                            <label for="Group">Total Fractions Amount</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input class="form-control" type="text" placeholder="Fraction Instalments" ng-model="FractionInstalments" disabled>
                                            <label for="Group">Fraction Instalments</label>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <!--Row End -->
            <!-- F.D.R INFORMATION Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span> F.D.R INFORMATION
                        </div>
                        <!-- F.D.R INFORMATION -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Enter F.D.R. Number" ng-model="FDRNo">
                                        <label for="Group">F.D.R. Number</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="Date" placeholder="Enter F.D.R. Date" ng-model="FDRDate">
                                        <label for="Group">F.D.R. Date</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Enter No.of Months/Weeks/Days" ng-model="NoofMonthsWeeksDays" ng-blur="NoofMonths()" ng-keypress="filterValue($event)">
                                        <label for="Group">No.of Months/Weeks/Days</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                      
                                        <select class="form-control seelect-control" ng-model="FDR" ng-options="FDR as FDR.label for FDR in FDRType" ng-change="FDRTypeChange()"></select>
                                        <label for="Group">FDR Type</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="F.D.R. Amount" ng-model="FDRAmount" ng-blur="FDRAmountCal()" ng-init="FDRAmount = 0.00" ng-keypress="filterValue($event)">
                                        <label for="Group">F.D.R. Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Rate Of Interest Per Year" ng-model="ROIPerYear" ng-blur="RateOfInterestPerYear()" ng-keypress="filterValue($event)">
                                        <label for="Group">Rate Of Interest Per Year</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="F.D.R. Maturity Amount" ng-model="FDRMaturityAmount" ng-init="FDRMaturityAmount = 0.00" ng-keypress="filterValue($event)">
                                        <label for="Group">F.D.R. Maturity Amount</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="Date" placeholder="Maturity Date" ng-model="MaturityDate">
                                        <label for="Group">Maturity Date</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Bank Branch" ng-model="BankBranch">
                                        <label for="Group">Bank Branch</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input class="form-control" type="text" placeholder="Bank Name" ng-model="BankName">
                                        <label for="Group">Bank Name</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--Row End -->


            <div class="row mb-20">
                <div class="col-lg-12 text-center">
                    <p>
                        <label>
                            <input class="checkbox" type="checkbox">
                            <span>Do You Want to Round the Dividend Amount</span>
                        </label>
                    </p>
                    <button class="btn btn-custom1" type="submit">Save</button>
                    <button class="btn btn-custom1" type="button" ng-click="EmpList()">Go to List</button>
                    <button class="btn btn-secondary">Cancel</button>

                </div>
            </div>

        </div>
    </form>
</body>
