﻿
@{
    ViewBag.Title = "EnrollmentEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="~/Scripts/Persons/enrollmentEntry.js"></script>
<form data-ng-app="myEnrollMent" data-ng-controller="enrollmentController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>Chitcare Demo</h4>
            </div>

            <div class="col-md-6">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb text-sm-right mb-0 pl-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Masters</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Enrollment Entry</li>
                    </ol>
                </nav>
            </div>

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="colour-box"></span> GENERAL INFORMATION
                    </div>

                    <div class="panel-body">

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <select ng-model="enrlBranch.BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in enrlBranch.Branches"   class="form-control seelect-control" ng-change="GetId()">
                                        
                                    </select>
                                    <label for="Group">Enrl Branch</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="enrlDate"  class="form-control" type="date" placeholder="Enter Enroll Date">
                                    <label for="Group">Enroll Date</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <div class="row">
                                        <div class="col-xs-4 pr-0">
                                            <select ng-model="ddlBranch.BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in ddlBranch.Branches" class="form-control"></select>
                                            <label for="Group">Group At Branch</label>
                                        </div>
                                        <div class="col-xs-6 pr-0 pl-0">
                                            <input ng-model="enrlGropup" name="enrlGropup" id="enrlGropup" class="form-control" type="text" ng-change="complete(enrlGropup)" placeholder="Enter Group">
                                            <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                                                <li class="list-group-item " ng-repeat="groupdata in filterGroup" ng-click="fillTextbox(groupdata.GroupName,groupdata.GroupId)" />{{groupdata.GroupName}}</li>
                                            </ul>
                                            <label for="Group">Group</label>
                                        </div>
                                        <div class="col-xs-2 pl-0">
                                            <select ng-model="ddlEnlTkt.ChitNo" ng-options="Tkt.ChitNo as Tkt.ChitNo for Tkt in ddlEnlTkt.Tickets " class="form-control"></select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <select ng-model="ddlPayMode.value" ng-options="pMode.value as pMode.text for pMode in ddlPayMode.PayModes" class="form-control seelect-control">
                                        <option>Monthly</option>
                                        <option>Daily</option>
                                        <option>Weekly</option>
                                    </select>
                                    <label for="Group">Payment Mode</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <div class="input-group">
                                        <input ng-model="txtSubName" type="text" class="form-control" placeholder="Enter Sub Name">
                                        <label for="Group">Sub Name</label>
                                        <a href="#" class="input-group-addon" data-toggle="modal" data-target="#myModal"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <div class="input-group">
                                        <input ng-model="txtBussAgent" type="text" class="form-control" placeholder="Enter Business Agent">
                                        <label for="Group">Business Agent</label>
                                        <a href="#" class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <div class="input-group">
                                        <input ng-model="txtCollAgent" type="text" class="form-control" placeholder="Enter Collection Agent">
                                        <label for="Group">Collection Agent</label>
                                        <a href="#" class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <div class="input-group">
                                        <input ng-model="txtZone" type="text" class="form-control" placeholder="Enter Zone">
                                        <label for="Group">Zone</label>
                                        <a href="#" class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <div class="input-group">
                                        <input ng-model="txtDirector" type="text" class="form-control" placeholder="Enter Director">
                                        <label for="Group">Director</label>
                                        <a href="#" class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group pb-5 bg-grey">
                                    <label for="Group">Business Type :</label>
                                    <span ng-model="lblDorA" class="text-danger">Direct</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group bg-grey">
                                    <span>Address Corr. :</span>
                                    <label class="pl-10">
                                        <input ng-model="rbHome" class="radio" type="radio" name="AddressCorr">
                                        <span>Home</span>
                                    </label>
                                    <label class="pl-10">
                                        <input ng-model="rbOffice" class="radio" type="radio" name="AddressCorr">
                                        <span>Office</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group bg-grey">
                                    <label for="Group" class="pr-10">Enrollment Status :</label>
                                    <label>
                                        <input ng-model="chkEnrlStatus" class="checkbox" type="checkbox" checked="">
                                        <span>Subscriber Eligible</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group pb-5 bg-grey">

                                    <label for="Group" class="pr-10">Pass Book :</label>
                                    <label>
                                        <input ng-model="chkIBP" class="checkbox" type="checkbox" checked="">
                                        <span>Issued Pass Book</span>
                                    </label>

                                    <input ng-model="ibpDate" class="form-control pb-5" type="date" ng-readonly="!chkIBP">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group pb-5 bg-grey">

                                    <label for="Group" class="pr-10">Chit Agreement :</label>
                                    <label>
                                        <input ng-model="chkRon" class="checkbox" type="checkbox" checked="">
                                        <span>Received On</span>
                                    </label>

                                    <input ng-model="EnrlRoDate" class="form-control" type="date" ng-readonly="!chkRon">

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group pb-5 bg-grey">

                                    <label for="Group" class="pr-10">Intimation Card :</label>
                                    <label>
                                        <input ng-model="chkSendThrough" class="checkbox" type="checkbox">
                                        <span>Send Through</span>
                                    </label>

                                    <select ng-model="ddlICardType.value" ng-options="intCardType.value as intCardType.text for intCardType in ddlICardType.IntemationCardTypes" class="form-control" ng-readonly="!chkSendThrough" >
                                        
                                    </select>

                                </div>
                            </div>

                        </div>
                        <!-- /.row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <select ng-model="ddlIntType.value" ng-options="intType.value as intType.text for intType in ddlIntType.IntemationTypes" class="form-control seelect-control">
                                        
                                    </select>
                                    <label for="Group">Intimate Type</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtArea" class="form-control" type="text" placeholder="Enter Area">
                                    <label for="Group">Area</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtIntrIncent" class="form-control" type="text" placeholder="Enter Introducer Incentive">
                                    <label for="Group">Introducer Incentive</label>
                                </div>
                            </div>

                        </div>
                        <!-- /.row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6 pr-0 pt-5">
                                            <label>
                                                <input ng-model="chkIncentive" class="checkbox" type="checkbox">
                                                <span>Special / Festival Incentive Allow</span>
                                            </label>
                                        </div>

                                        <div class="col-xs-6 pb-5 pl-0" ng-show="chkIncentive">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtIncentive" class="form-control" type="text" placeholder="Enter Special/Festival Incentive" >
                                                <label for="Group">Special/Festival Incentive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.row -->

                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="colour-box"></span> NOMINEE INFORMATION
                    </div>

                    <div class="panel-body">

                        <!-- Row -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtNName" class="form-control" type="text" placeholder="Enter Name">
                                    <label for="Group">Name </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-3 pr-0">
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNAge" class="form-control" type="text" placeholder="Enter Age">
                                            <label for="Group">Age </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 pr-0 pl-0">
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNRelation" class="form-control" type="text" placeholder="Enter Relation">
                                            <label for="Group">Relation </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtNDoorNo" class="form-control" type="text" placeholder="Enter Door.No">
                                    <label for="Group">Door.No </label>
                                </div>
                            </div>
                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtNCity" class="form-control" type="text" placeholder="Enter City ">
                                    <label for="Group">City </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtNStreetName" class="form-control" type="text" placeholder="Enter Street Name">
                                    <label for="Group">Street Name </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtNAddress" class="form-control" type="text" placeholder="Enter Address">
                                    <label for="Group">Address</label>
                                </div>
                            </div>

                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group has-float-label">
                                    <input ng-model="txtNPhone" class="form-control" type="text" placeholder="Enter Phone">
                                    <label for="Group">Phone </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group  pb-5 bg-grey">
                                    <label for="Group" class="pr-10">District : <span ng-model="lblNDistrict">District Name</span></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group  pb-5 bg-grey">
                                    <label for="Group" class="pr-10">State : <span ng-model="lblNState">State Name</span></label>
                                </div>
                            </div>

                        </div>
                        <!-- End of Row -->
                        <!-- Row -->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group  pb-5 bg-grey">
                                    <label for="Group" class="pr-10">Country : <span ng-model="lblNCountry">Country Name</span></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group  pb-5 bg-grey">
                                    <label for="Group" class="pr-10">Pin Code : <span ng-model="txtNPincode">Pincode</span></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group pt-10">
                                    <label>
                                        <input ng-model="chkFillSubAddr" class="checkbox" type="checkbox">
                                        <span>Fill Subscriber Address</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <!-- End of Row -->

                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </div>
        </div><!-- /.row -->

        <div class="row mb-20">
            <div class="col-lg-12 text-center">
                <button class="btn btn-custom1">Save</button>
                <button class="btn btn-custom1">Go to List</button>
                <button class="btn btn-secondary">Cancel</button>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" style="display: none;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Subscribers</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-float-label">
                                <input class="form-control" type="text" placeholder="Enter Name Like">
                                <label for="Group">Name Like</label>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>Page Size</option>
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-custom1">View</button>
                        </div>
                    </div>

                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table width="100%" class="table table-condensed table-bordered dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 0px;">Name</th></tr>
                                    </thead>
                                    <tbody>

                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Abdul Khuddus ~ MADDUR</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Abdul Khuddus ~ MADDUR</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Abdul Khuddus ~ MADDUR</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Abdul Latheef</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Abdul Latheef</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Abdul Latheef</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Abhishek</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Abhishek</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Abhishek</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Adil pasha ~ MADDUR</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing 1 to 10 of 15 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li><li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li></ul></div></div></div>
                    </div>
                    <!-- /.table-responsive -->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- /.Modal -->

</form>

   

   



