﻿
@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/Persons/memberList.js"></script>*@
<script type="text/javascript">
    var app = angular.module("PersonListApp", []);

    app.controller("MyChitCarePersonList", function ($scope, $http, $window, $filter) {

        $scope.showListByPerson = true;
        $scope.PageSize = [{ text: "2", value: 2 }, { text: "10", value: 10 }, { text: "20", value: 20 }];
        $scope.page = $scope.PageSize[0];
        $scope.IsVisible = false;
        $scope.pageSize = 2;

        $scope.start = 0;
        $scope.end = $scope.pageSize;
        $scope.DateRange = [{ value: 1, text: "All" }, { value: 2, text: "Today" }, { value: 3, text: "Current Week" }, { value: 4, text: "Current Month" }, { value: 5, text: "Current Quarter" }, { value: 6, text: "Current Year" }, { value: 7, text: "Date to Date" }, { value: 8, text: "Yester Day" }, { value: 9, text: "Previous Year" }, { value: 10, text: "Previous Month" }];
        $scope.Typesddl = [{ value: 1, text: "Person wise" }, { value: 2, text: "Group wise" }];

        $scope.ddlSearchType = $scope.Typesddl[0];
        $scope.ddlConRange = $scope.DateRange[0];
        $scope.txtFromDate = new Date();
        $scope.txtToDate = new Date();
        $window.onload = function () {
            $http.get('/Common/GetBranches').then(function (branchesResponse) {

                $scope.ddlBranch = {};

                $scope.ddlBranch.Brancesddl = branchesResponse.data;

                $scope.ddlBranch.BranchId = $scope.ddlBranch.Brancesddl[0].BranchId;

            })
        }
        $scope.SearchType = function () {

            if ($scope.ddlSearchType.value === 1) {
                $scope.showListByPerson = true;
                $scope.showListByGroup = false;
            } else {
                $scope.showListByPerson = false;
                $scope.showListByGroup = true;
            }
        }
        $scope.GetDateRange = function () {
            if ($scope.ddlConRange.value == 7) {
                $scope.showDatetoDate = true;
            } else {
                $scope.showDatetoDate = false;
            }
        }

        $scope.GePersons = function () {

            $scope.showBar = true;
            var BranchId = $scope.ddlBranch.BranchId;
            var Prefix = $scope.txtPersonName;
            var FromDate = $filter('date')($scope.txtFromDate, "yyyy-MM-dd");
            var ToDate = $filter('date')($scope.txtToDate, "yyyy-MM-dd");



            $http.get("/Masters/GetRegistrationList?BranchId=" + BranchId + "&Prefix=" + Prefix + "&Fdate=" + FromDate + "&ToDate=" + ToDate + "").success(function (data) {
                console.log(data.data);
                $scope.Persons = data;
                $scope.tblShow = true;
                $scope.Total = $scope.Persons.length;
                $scope.showBar = false;
                var Svalue1 = parseInt($scope.Persons.length / $scope.page.value);
                var Svalue2 = $scope.Persons.length / $scope.page.value;
                var NoOPages;
                if (Svalue2 > Svalue1) {
                    NoOPages = Svalue1 + 1;
                }
                else {
                    NoOPages = Svalue1;
                }
                $scope.Lpage = NoOPages;
                $scope.PageNum = 1;
            }).error(function (error) {
                console.log(error);
            });


        }

        $scope.Psize = function () {
            var Svalue1 = parseInt($scope.Persons.length / $scope.page.value);
            var Svalue2 = $scope.Persons.length / $scope.page.value;
            var NoOPages;
            if (Svalue2 > Svalue1) {
                NoOPages = Svalue1 + 1;
            }
            else {
                NoOPages = Svalue1;
            }
            $scope.Lpage = NoOPages;
            $scope.end = $scope.page.value;
            $scope.PageNum = parseInt($scope.start / $scope.page.value) + 1;
        }
        $scope.PFChange = function (end, page) {
            $scope.start = 0;

            $scope.end = page;

            $scope.PageNum = parseInt($scope.start / $scope.page.value) + 1;

        }
        $scope.PNChange = function (start, end, value) {
            var Svalue1 = parseInt($scope.Persons.length / value);
            var Svalue2 = $scope.Persons.length / value;
            var startVal;
            if (Svalue2 > Svalue1) {
                startVal = Svalue1 * value;
            }
            else {
                startVal = (Svalue1 * value) - value;
            }
            if (start < startVal) {
                $scope.start = parseInt(start) + parseInt(value);

                $scope.end = parseInt(value);
            }
            $scope.PageNum = parseInt($scope.start / $scope.page.value) + 1;
        }
        $scope.PPChange = function (start, end, value) {
            if (start != 0) {
                $scope.start = parseInt(start) - parseInt(value);

                $scope.end = parseInt(value);
            }
            $scope.PageNum = parseInt($scope.start / $scope.page.value) + 1;

        }
        $scope.PLChange = function (start, end, value) {


            var Svalue1 = parseInt($scope.Persons.length / value);
            var Svalue2 = $scope.Persons.length / value;
            var startVal;
            if (Svalue2 > Svalue1) {
                startVal = Svalue1 * value;
            }
            else {
                startVal = (Svalue1 * value) - value;
            }
            $scope.start = startVal;
            $scope.end = parseInt(value);
            $scope.PageNum = parseInt($scope.start / $scope.page.value) + 1;

        }
        $scope.GoPage = function () {

            var Svalue1 = parseInt($scope.Persons.length / $scope.page.value);
            var Svalue2 = $scope.Persons.length / $scope.page.value;
            var NoOPages;
            if (Svalue2 > Svalue1) {
                NoOPages = Svalue1 + 1;
            }
            else {
                NoOPages = Svalue1;
            }

            if ($scope.txtBasicSal != "") {
                if ($scope.txtBasicSal <= NoOPages) {
                    $scope.start = ($scope.txtBasicSal * $scope.page.value) - ($scope.page.value);

                    $scope.end = $scope.page.value;
                }
                else {
                    alert("Please Enter Valid Page Number");
                }
            }
            $scope.PageNum = parseInt($scope.start / $scope.page.value) + 1;

        }
        //$scope.Edit = function (personId) {

        //    window.location = "/Masters/RegistrationEntry?id=" + personId;
        //}
        $scope.Edit = function () {

            window.location = "/Masters/RegistrationEntry?id="  + $scope.id;
        }
    });
</script>
<div data-ng-app="PersonListApp" data-ng-controller="MyChitCarePersonList" data-ng-init="init()">

    <form name="fmSubmit" >
        <div class="container-flung-model" style="height:100%">

            <div class="row">
                <div class="col-md-6">
                    <h4>Chitcare Demo</h4>
                </div>

                <div class="col-md-6">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb text-sm-right mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Masters</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Registration List</li>
                        </ol>
                    </nav>
                </div>



            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span>New Members List
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6" style="width:34%;">
                                            <div class="form-group has-float-label">

                                                <select ng-model="ddlBranch.BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in ddlBranch.Brancesddl" class="form-control seelect-control"></select>

                                                <label for="Group">Branch Name</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6" style="width:33%;">
                                            <div class="form-group has-float-label">

                                                <select ng-model="ddlSearchType" ng-options="Type.text for Type in Typesddl" class="form-control seelect-control" ng-change="SearchType()"></select>
                                                <label for="Group">Type</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="width:33%;" ng-show="showListByPerson">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtPersonName" class="form-control" type="text" placeholder="Enter Person Name">

                                                <label for="Group">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="width:18%;" ng-show="showListByGroup">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtGroup" class="form-control" type="text" placeholder=" Group Name">


                                                <label for="Group">Group Name</label>
                                            </div>

                                        </div>
                                        <div class="col-md-6" style="width:15%;" ng-show="showListByGroup">
                                            <div class="form-group has-float-label">

                                                <input ng-model="txtTktNo" class="form-control" type="text" placeholder=" Ticket No.">

                                                <label for="Group">Ticket No.</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" style="width:34%;">
                                            <div class="form-group has-float-label">

                                                <select ng-model="ddlConRange" ng-options="Rtype.text for Rtype in DateRange" class="form-control seelect-control" ng-change="GetDateRange()"></select>

                                                <label for="Group">Date Range </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="width:33%;" ng-show="showDatetoDate">
                                            <div class="form-group has-float-label">

                                                <input ng-model="txtFromDate" class="form-control" type="date">

                                                <label for="Group">From</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="width:33%;" ng-show="showDatetoDate">
                                            <div class="form-group has-float-label">

                                                <input ng-model="txtToDate" class="form-control" type="date">

                                                <label for="Group">To</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-20">
                                        <div class="col-lg-12 text-center">
                                            <input type="button" class="btn btn-custom1" value="View" ng-model="btnget"  ng-click="GePersons()"/>


                                            <button class="btn btn-custom1" type="button" ng-click="List()">Back</button>

                                        </div>

                                    </div>
                                    <br />
                                    <br />
                                    <div class="row" ng-show="tblShow">
                                        <div class="col-lg-12 text-center">
                                            <lable class="progress-bar" ng-show="showBar">Loading......</lable>
                                            <label class="label-control">Total Number Of Records : {{Total}}</label>
                                            <table border="1" align="center" class="table table-striped table-bordered table-hover">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th>Actions</th>
                                                        <th>Name</th>
                                                        <th>S/o,D/o</th>
                                                        <th>Mobile</th>
                                                        <th>Activity</th>

                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="m in Persons|limitTo: end : start">
                                                    <tr>
                                                        @*<td style="text-align:center;">
                        <input type="button" ng-model="btnEdit" value="Edit" ng-click="Edit(m.PersonId)" />
                        <input type="button" ng-model="btnDelete" value="Delete" />
                    </td>*@
                                                        <td class="text-center">
                                                            <label class="pl-10">
                                                                <input class="radio" type="radio" name="edit" ng-model="$parent.id" value="{{m.PersonId}}">
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                        <td>{{m.PersonName}}</td>
                                                        <td>{{m.CGuardian}}</td>
                                                        <td>{{m.CellNo}}</td>
                                                        <td>{{m.Activity}}</td>

                                                    </tr>
                                                </tbody>
                                                <thead>
                                                    <tr>
                                                        <td colspan="5">
                                                            Records per Page :<select ng-model="page" ng-options="psize.text for psize in PageSize" ng-change="Psize()"></select>
                                                            <input type="button" id="Pfirst" value="First" ng-click="PFChange(start,end,page.value)" />

                                                            <input type="button" ng-model="Pprev" value="Prev" ng-click="PPChange(start,end,page.value)" />

                                                            <input type="button" ng-model="Pcurrent" value="{{PageNum}}" />

                                                            <input type="button" ng-model="Pnext" value="Next" ng-click="PNChange(start,end,page.value)" />

                                                            <input type="button" ng-model="Plast" value="Last" ng-click="PLChange(start,end,page.value)" />
                                                            <label>Enter Page No from 1-{{Lpage}}</label>&nbsp;<input type="text" ng-model="txtBasicSal" tabindex="4" CssClass="textboxRight" maxlength="10" width="28" ng-change="GoPage()" MaxLength="10" placeholder="Enter here.." />

                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <a ng-click="Edit($scope.id)">Edit</a>
                                        </div>

                                    </div>



                                  
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
    </form>


</div>

