﻿
@{
    ViewBag.Title = "Member Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    datalist {
        display: none;
    }
    /* specifically hide the arrow on focus */
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/3.0.0/angucomplete-alt.min.js"></script>


<script type="text/javascript" src="~/Scripts/Persons/personRegistration.js"></script>

<script type="text/javascript">
    var PersonId = '@ViewBag.Id';
</script>

<div data-ng-app="myChitCare" data-ng-controller="MyChitCareController" data-ng-init="init()">

    <form name="frmSubmit" ng-submit="SubmitData()">


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4> @ViewBag.Title</h4>
                </div>

                <div class="col-md-6">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb text-sm-right mb-0 pl-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Masters</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Member Registration Entry</li>
                        </ol>
                    </nav>
                </div>



            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span>PERSON / CONTACT INFORMATION
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6">


                                            <div class="form-group has-float-label">

                                                <select ng-model="ddlBranch.BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in ddlBranch.Brancesddl" class="form-control seelect-control"></select>
                                                <label for="Group">Branch Name</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtUserCode" class="form-control" type="text" placeholder="Enter User Code">
                                                <label for="Group">User Code</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtPassword" class="form-control" type="password" placeholder="Enter Password">
                                                <label for="Group">Password</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtconpassword" class="form-control" type="password" placeholder="Confirm Password">
                                                <label for="Group">Confirm Password</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <div class="row">
                                                    <div class="col-xs-3 pr-0">
                                                        <select ng-model="ddlPrHonor" ng-options="Honor as Honor.text for Honor in HonorDdl " class="form-control" ng-change="ddlHonor()"></select>
                                                    </div>
                                                    <div class="col-xs-9 pl-0">
                                                        <input ng-model="txtPrFName" class="form-control" type="text" placeholder="Name">
                                                        <label for="Group">Name</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <div class="row">
                                                    <div class="col-xs-3 pr-0">
                                                        <select ng-model="ddlSdo" ng-options="SDO.text for SDO in SDOList" class="form-control"></select>

                                                    </div>
                                                    <div class="col-xs-9 pl-0">
                                                        <input ng-model="txtSdo" class="form-control" type="text" placeholder="S/o, D/o">
                                                        <label for="Group">S/o,D/o</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-model="divRep" ng-show="txtRep">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtIntroFn" class="form-control" type="text" placeholder="Rep by First Name" ng-show="txtRep" only-Alphabets="">
                                                <label for="Group">Rep by First Name</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <div class="form-group has-float-label">
                                                    <input ng-model="txtIntroLn" class="form-control" type="text" placeholder="Sur Name" ng-show="txtRep" only-Alphabets="">
                                                    <label for="Group">Sur Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-model="divGuardian" ng-show="txtGuard">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtGuardName" class="form-control" type="text" placeholder="Guardian Name" ng-show="txtGuard" only-Alphabets="">
                                                <label for="Group">Guardian Name</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <div class="form-group has-float-label">
                                                    <input ng-model="txtGuarRelation" class="form-control" type="text" placeholder="Relation" ng-show="txtGuard" only-Alphabets="">
                                                    <label for="Group">Relation</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group bg-grey">
                                                <span>Gender :</span>
                                                <label class="pl-10" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Male">
                                                    <input class="radio" type="radio" name="gender" ng-true-value="true" ng-false-value="false" ng-model="rbGender" ng-value="true" ng-change="RadioChange(1)">
                                                    <span><img src="~/dist/images/male1.png" class="icon img-responsive"></span>
                                                </label>
                                                <label class="pl-10" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Female">
                                                    <input class="radio" type="radio" name="gender" ng-true-value="true" ng-false-value="false" ng-model="rbGender" ng-value="false" ng-change="RadioChange(0)">
                                                    <span><img src="~/dist/images/Female1.png" class="icon img-responsive"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <div class="row">
                                                    <div class="col-xs-3 pr-0">
                                                        <select ng-model="ddlPrOcc" ng-options=" Occupation.text for Occupation in ddlOccupation " class="form-control" ng-change="GetOccId()"></select>
                                                    </div>
                                                    <div class="col-xs-9 pl-0">
                                                        <input ng-model="txtPrOcc" class="form-control" type="text" placeholder="Enter Occupation" alpha-Numeric="">
                                                        <label for="Group">Occupation</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">

                                                <input ng-model="txtPrEntryDate" class="form-control" type="date">
                                                <label for="Group">Entry Date</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-xs-3 pr-0">
                                                    <div class="form-group has-float-label">
                                                        <input ng-model="txtPrDOB" class="form-control" type="date" ng-change="GetDate()" date-parser="short" jsonDate>

                                                        <label for="Group">Date of Birth</label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-9 pl-0">
                                                    <div class="form-group has-float-label">
                                                        <input ng-model="txtPrAge" class="form-control" type="text" ng-change="GetDOB()">
                                                        <label for="Group">Age</label>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtInc" class="form-control" type="text" placeholder="Enter Income">
                                                <label for="Group">Income</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtAdrCrdNo" class="form-control" type="text" placeholder="Enter Aadhar Card No" ng-keypress="filterValue($event)" maxlength="12">
                                                <label for="Group">Aadhar Card No</label>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <ng-form name="FPAN">
                                                <div class="form-group has-float-label">
                                                    <input ng-model="txtITpan1" name="txtITpan1" class="form-control" type="text" MaxLength="10" ng-pattern="PanValid" placeholder="Enter PAN Number">
                                                    <label for="Group">PAN</label>
                                                    <span ng-show="FPAN.txtITpan1.$error.pattern" style="color:red">Invalid PAN Number Ex.AAAAA9999A</span>
                                                </div>
                                            </ng-form>
                                        </div>

                                        <div class="col-md-6">
                                            <ng-form name="FGST">
                                                <div class="form-group has-float-label">
                                                    <input ng-model="txtGSTNO" name="txtGSTNO" class="form-control" type="text" MaxLength="16" ng-pattern="GSTNO" placeholder="Enter GST NO.">
                                                    <label for="Group">GST NO.</label>
                                                    <span ng-show="FGST.txtGSTNO.$error.pattern" style="color:red">GST number not valid Ex 22AAAAA0000A1Z5</span>
                                                </div>
                                            </ng-form>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtMobile" class="form-control" type="text" maxlength="10" placeholder="Mobile Number" ng-keypress="filterValue($event)" required>
                                                <label for="Group">Mobile</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group has-float-label">
                                                <input ng-model="txtEmail" class="form-control" type="email" placeholder="Email id" required>
                                                <label for="Group">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" ng-model="divAgentType" ng-show="AgentType">
                                            <div class="form-group has-float-label">
                                                <input class="form-control" type="text" placeholder="Enter Branch Name">

                                                <select ng-model="ddlAgntType" class="form-control seelect-control" ng-options="Agent.text for Agent in AgentList" ng-change="GetAgent()"></select>

                                                <label for="Group">Agent Type</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6" ng-model="divMainAgent" ng-show="MainAgentType">
                                            <div class="form-group has-float-label">
                                                <input class="form-control" type="text" placeholder="Main Agent">
                                                <label for="Group">Main Agent</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group bg-grey">

                                                <span class="pr-10">Introduced As :</span>
                                                <label class="pr-10">
                                                    <input class="checkbox" type="checkbox" placeholder="Introduced As" ng-model="isChecked" ng-checked="chkMember&&chkAgent&&chkGuarantor&&chkStaff" ng-click="CheckAll()">
                                                    <span>All</span>
                                                </label>
                                                <label class="pr-10">
                                                    <input class="checkbox" type="checkbox" placeholder="Introduced As" ng-model="chkMember" ng-true-value="true" ng-false-value="false" ng-checked="isChecked; true" ng-click="UnCheckAll()">
                                                    <span>Member</span>
                                                </label>
                                                <label class="pr-10">
                                                    <input class="checkbox" type="checkbox" placeholder="Introduced As" ng-model="chkAgent" ng-true-value="true" ng-false-value="false" ng-checked="isChecked" ng-click="UnCheckAll()">
                                                    <span>Agent</span>
                                                </label>
                                                <label class="pr-10">
                                                    <input class="checkbox" type="checkbox" placeholder="Introduced As" ng-model="chkGuarantor" ng-true-value="true" ng-false-value="false" ng-checked="isChecked" ng-click="UnCheckAll()">
                                                    <span>Guarantor</span>
                                                </label>
                                                <label class="pr-10">
                                                    <input class="checkbox" type="checkbox" placeholder="Introduced As" ng-model="chkStaff" ng-true-value="true" ng-false-value="false" ng-checked="isChecked" ng-click="UnCheckAll()">
                                                    <span>Staff</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-2">

                                    <div>
                                        <div class="photo">
                                            <label for="photo_upload">
                                                <img src="~/dist/images/uploadphoto.png" class="img-responsive upload-photo" ng-src="{{filepreview}}">
                                            </label>
                                            <input type="file" ng-model="fPathPhoto" id="photo_upload" fileinput="fileinput" filepreview="filepreview">


                                        </div>
                                        <div class="signiture">
                                            <label for="sign_upload">
                                                <img src="~/dist/images/uploadsign.png" class="img-responsive upload-sign" ng-src="{{signpreview}}">
                                            </label>
                                            <input type="file" ng-model="fPathSign" id="sign_upload" signinput="signfile" signpreview="signpreview">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.row -->
            <div class="row equals">
                <div class="col-lg-4">
                    <div class="panel panel-default equal-height" style="height: 592px;">
                        <div class="panel-heading">
                            <span class="colour-box"></span>  RESIDENCIAL ADDRESS
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtResAddress" class="form-control" type="text" placeholder="Enter Res. Door No.">
                                            <label for="Group">Door No.</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtResAddress1" class="form-control" type="text" placeholder="Enter Res. Street Name">
                                            <label for="Group">Street Name</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtResAddress2" class="form-control" type="text" placeholder="Enter Res. Address">
                                            <label for="Group">Address</label>
                                        </div>


                                        <div class="form-group has-float-label">

                                            <input type="text" name="City" id="City" ng-model="City" ng-change="complete(City,'RCity')" class="form-control RCity" />
                                            <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                                                <li class="list-group-item ResidenceAddr" ng-repeat="citydata in filterCity" ng-click="fillTextbox(citydata.CityName,citydata.CityId,'ResidenceAddr')" />{{citydata.CityName}}</li>
                                            </ul>
                                        </div>
                                        <input type="hidden" ng-model="autolistId" />
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtRDistrict" class="form-control" type="text" placeholder="Enter District" readonly>
                                            <label for="Group">District</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtRState" class="form-control" type="text" placeholder="Enter State" readonly>
                                            <label for="Group">State </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtRCountry" class="form-control" type="text" placeholder="Enter Country" readonly>
                                            <label for="Group">Country </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtRPincode" class="form-control" type="text" placeholder="Enter PinCode" readonly>
                                            <label for="Group">PinCode </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtRPhone" class="form-control" type="text" placeholder="Enter Phone" ng-keypress="filterValue($event)">
                                            <label for="Group">Phone </label>
                                        </div>



                                    </form>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default equal-height" style="height: 592px;">
                        <div class="panel-heading">
                            <span class="colour-box"></span>   OFFICE ADDRESS
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOffAddress" class="form-control" type="text" placeholder="Enter Off. Door No.">
                                            <label for="Group">Door No.</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOffAddress1" class="form-control" type="text" placeholder="Enter Street Name">
                                            <label for="Group">Street Name</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOffAddress2" class="form-control" type="text" placeholder="Enter Off. Address">
                                            <label for="Group">Address</label>
                                        </div>
                                        <div class="form-group has-float-label">

                                            <input type="text" name="OCity" id="OCity" ng-model="OCity" ng-change="complete(OCity,'OffCity')" class="form-control OffCity" />
                                            <ul class="list-group" ng-model="hidethisO" ng-show="hidethisO">
                                                <li class="list-group-item OffAddr" ng-repeat="citydata in filterCity" ng-click="fillTextbox(citydata.CityName,citydata.CityId,'OffAddr')" />{{citydata.CityName}}</li>
                                            </ul>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtODistrict" class="form-control" type="text" placeholder="Enter District" readonly>
                                            <label for="Group">District</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOState" class="form-control" type="text" placeholder="Enter State" readonly>
                                            <label for="Group">State </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOCountry" class="form-control" type="text" placeholder="Enter Country" readonly>
                                            <label for="Group">Country </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOPincode" class="form-control" type="text" placeholder="Enter PinCode" readonly>
                                            <label for="Group">PinCode </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOPhone1" class="form-control" type="text" placeholder="Enter Phone" ng-keypress="filterValue($event)">
                                            <label for="Group">Phone1 </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOPhone2" class="form-control" type="text" placeholder="Enter Mobile" ng-keypress="filterValue($event)">
                                            <label for="Group">Phone2 </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtOFax" class="form-control" type="text" placeholder="Enter Fax">
                                            <label for="Group">Fax </label>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <input class="checkbox" type="checkbox" ng-model="chkFillOAddr" ng-change="chkFillOAddr1()">
                                                <span>Fill Res Addr as Office Address</span>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-default equal-height" style="height: 592px;">
                        <div class="panel-heading">
                            <span class="colour-box"></span> CORRESPONDING ADDRESS
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNatAddress" class="form-control" type="text" placeholder="Enter Nat. Door No.">
                                            <label for="Group">Door No.</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNatAddress1" class="form-control" type="text" placeholder="Enter Street Name">
                                            <label for="Group">Street Name</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNatAddress2" class="form-control" type="text" placeholder="Enter Address">
                                            <label for="Group">Address</label>
                                        </div>
                                        <div class="form-group has-float-label">

                                            <input type="text" name="OCity" id="NCity" ng-model="NCity" ng-change="complete(NCity,'NCity')" class="form-control NCity" />
                                            <ul class="list-group" ng-model="hidethisN" ng-show="hidethisN">
                                                <li class="list-group-item CorrespAddr" ng-repeat="citydata in filterCity" ng-click="fillTextbox(citydata.CityName,citydata.CityId,'CorrespAddr')" />{{citydata.CityName}}</li>
                                            </ul>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNDistrict" class="form-control" type="text" placeholder="Enter District" readonly>
                                            <label for="Group">District</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNState" class="form-control" type="text" placeholder="Enter State" readonly>
                                            <label for="Group">State </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNCountry" class="form-control" type="text" placeholder="Enter Country" readonly>
                                            <label for="Group">Country </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNPincode" class="form-control" type="text" placeholder="Enter PinCode" readonly>
                                            <label for="Group">PinCode </label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNPhone1" class="form-control" type="text" placeholder="Enter Phone" ng-keypress="filterValue($event)">
                                            <label for="Group">Phone1</label>
                                        </div>
                                        <div class="form-group has-float-label">
                                            <input ng-model="txtNPhone2" class="form-control" type="text" placeholder="Enter Phone" ng-keypress="filterValue($event)">
                                            <label for="Group">Phone2 </label>
                                        </div>


                                        <div class="form-group mb-0">
                                            <label>
                                                <input class="checkbox" type="checkbox" name="groupA" ng-model="vm.chkFillCAddr" ng-change="vm.chkFillCAddrfrmoffaddr = false; changeGroupA()">
                                                <span>Fill Res Addr as Corresponding Address</span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <input class="checkbox" type="checkbox" name="groupA" ng-model="vm.chkFillCAddrfrmoffaddr" ng-change="vm.chkFillCAddr = false;  changeGroupA()">
                                                <span>Fill Off Addr as Corresponding Address</span>
                                            </label>
                                        </div>

                                    </form>
                                </div>
                                <!-- /.col-lg-12 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-12 -->
            </div>


            <!-- EMPLOYEMENT DETAILS Row -->
            <div class="row" ng-model="divEmpDetails" ng-show="Empshow">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span>EMPLOYEMENT DETAILS
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtCmpName" class="form-control" type="text" placeholder="Organization">
                                        <label for="Group">Organization</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtDesg" class="form-control" type="text" placeholder="Designation">
                                        <label for="Group">Designation</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtDept" class="form-control" type="text" placeholder="Department">
                                        <label for="Group">Department</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtPFNo" class="form-control" type="text" placeholder="Employee id">
                                        <label for="Group">Employee Id</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtDOJ" class="form-control" type="date" placeholder="Date of Joining">
                                        <label for="Group">Date of Joining</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtRetireDate" class="form-control" type="date" placeholder="Retirement">
                                        <label for="Group">Retirement</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtBasicSal" class="form-control" type="number" placeholder="Basic Salary" value="0" ng-change="GetNetSal()" ng-keypress="filterValue($event)">
                                        <label for="Group">Basic Salary</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtHRA" class="form-control" type="number" value="0" placeholder="H.R.A" ng-change="GetNetSal()">
                                        <label for="Group">H.R.A</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtPDA" class="form-control" type="number" value="0" placeholder="D.A" ng-change="GetNetSal()">
                                        <label for="Group">D.A</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtOtherSal" class="form-control" type="number" value="0" placeholder="Others" ng-change="GetNetSal()">
                                        <label for="Group">Others</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtDeductions" class="form-control" type="number" value="0" placeholder="Deductions" ng-change="GetNetSal()">
                                        <label for="Group">Deductions</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtNetSal" class="form-control" type="number" value="0" placeholder="Net Salary">
                                        <label for="Group">Net Salary</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtTan" class="form-control" type="text" placeholder="TAN">
                                        <label for="Group">TAN</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--Row End -->
            <!-- BUSINESS Row -->
            <div class="row" ng-model="divBussiness" ng-show="Bussshow">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="colour-box"></span>BUSINESS
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtFirmName" class="form-control" type="text" placeholder="Firm Name">
                                        <label for="Group">Firm Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtNature" class="form-control" type="text" placeholder="Nature">
                                        <label for="Group">Nature</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtCapital" class="form-control" type="number" placeholder="Capital">
                                        <label for="Group">Capital</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group has-float-label">
                                        <input ng-model="txtIncome" class="form-control" type="number" placeholder="Income">
                                        <label for="Group">Income</label>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--Row End -->


            <div class="row mb-20">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-custom1" type="submit" ng-model="btnSubmit">{{SaveOrUpdate}}</button>
                    <button class="btn btn-custom1" type="button" ng-click="PersonList()">Go to List</button>
                    <button class="btn btn-secondary">Cancel</button>
                </div>
            </div>

        </div>
        <!-- /.container-flung-model -->





    </form>

</div>

<!-- /#page-wrapper -->
