﻿
@{
    ViewBag.Title = "FinyearIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h2 align="center">FinYearList</h2>
        <br />

        <div align="right"> <h4>Welcome to : @Session["UserName"].ToString() </h4></div>
        <div align="center">
           
            <table>
                <tr>
                    <td>Company :</td>
                    <td><select id="Company" name="Company"></select></td>

                    <td colspan="2"></td>
                    <td>Finyears :</td>
                    <td>
                        <select id="Finyear" name="Finyear"></select>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <h4 align="left">IPAddress : @Session["Ipaddress"].ToString()</h4>
            <div class="date_time_picker_wrap">
                <input id="dateTimePicker" type="text" />
            </div>


        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="js/jquery.min.js"></script>
       
        <script type="text/javascript">
          
            $(function () {

                $("#Company").change(function () {
                    $('#Finyear').html("");
                    $('#Finyear').html('<option>Select a Finyear</option>');
                    $.ajax({
                        type: "POST",
                        url: "/Finyear/GetFinyear",
                        data: '{Id: "' + $("#Company").val() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            $('#Finyear').empty();
                            var items = '<option>Select a Finyear</option>';
                            $.each(response, function (i, item) {
                                items += "<option> " + item.FinRange + "</option>";
                            });
                            $('#Finyear').html(items);
                        },

                    });
                });
            });

            $(function () {


                $('#Finyear').html('<option>Select a Finyear</option>');
                $.ajax({
                    type: "POST",
                    url: "/Finyear/GetCompany",
                    data: '{Id: "' + @Session["UserId"].ToString() + '" }',
                        contentType: "application/json; charset=utf-8",
                       dataType: "json",
                       success: function (response) {
                           var items = '<option>-Select-</option>';
                           $.each(response, function (i, item) {
                               items += "<option value='" + item.CompId + "'>" + item.CompName + "</option>";
                           });

                           $('#Company').html(items);

                       },


                });
            });






        </script>
        <script type="text/javascript">
            $("#dateTimePicker").kendoDatePicker();
        </script>
    </div>

