﻿@using ChitCare.UI.ViewModels.Models
@model CompanyViewModel
@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/KendoPlugins/jquery.min.js"></script>
<script src="~/KendoPlugins/kendo.all.min.js"></script>

<link href="//cdn.kendostatic.com/2013.1.319/styles/kendo.common.min.css" rel="stylesheet" />
<link href="//cdn.kendostatic.com/2013.1.319/styles/kendo.default.min.css" rel="stylesheet" />

<div class="demo-section k-content">
   <div id="grid"></div>
    Finyera List :   
    <input id="products" style="width: 50%" />
    @*<script>
       
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/Finyear/GetFinyear/1"
                        
                    },
                    pageSize: 20
                },
                height: 250,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "FinId",
                    title: "Fin Id"
                }, {
                    field: "FinRange",
                    title: "Finyear Range"
                }]
            });
        });

    </script>*@
    <script>
        $(document).ready(function () {
            $("#products").kendoDropDownList({
                dataTextField: "FinRange",
                dataValueField: "FinId",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/Finyear/GetFinyear/1",
                        }
                    }
                },
                select: function (e) {
                    currentlySelectedItem = this.dataItem(e.item.index())
                    alert('Finyear Id : ' + currentlySelectedItem.FinId);
                }
            });
        });
    </script>


    </div>
  
   
   